<!doctype html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="datatable admin, angular, management, create, update, delete, csv, export, filter, print, CRUD, API, web application, bootstrap">
    <meta name="author" content="bangdc">
    <title>
        Datatablar - Datatable management solution for AngularJS web application
    </title>
    <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
    
    <!-- build:[href] dependencies/bootstrap/dist/css/ -->
    <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.css" />
    <!-- /build -->

    <!-- build:[href] dependencies/components-font-awesome/css/ -->
    <link rel="stylesheet" href="bower_components/components-font-awesome/css/font-awesome.css" />
    <!-- /build -->

    <!-- build:[href] dependencies/angular-ui-notification/dist/ -->
    <link rel="stylesheet" href="bower_components/angular-ui-notification/dist/angular-ui-notification.css" />
    <!-- /build -->
    
    <!-- build:[href] dependencies/ng-dialog/css/ -->
    <link rel="stylesheet" href="bower_components/ng-dialog/css/ngDialog.css" />
    <!-- /build -->
    
    <!-- build:[href] dependencies/ng-dialog/css/ -->
    <link rel="stylesheet" href="bower_components/ng-dialog/css/ngDialog-theme-default.css" />
    <!-- /build -->

    <link rel="stylesheet" href="data-tablar/dependencies/bootswatch/united.min.css">

    <!-- build:css(.tmp) styles/main.css -->
    <link rel="stylesheet" href="styles/main.css">
    <!-- endbuild -->
    
    <link rel="stylesheet" href="data-tablar/styles/data-tablar.min.css">
</head>

<body ng-app="builderApp">
    <!--[if lte IE 8]>
      <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
    <![endif]-->
    <!-- Add your site or application content here -->
    <div class="header">
        <div class="navbar navbar-default" role="navigation">
            <div class="container-fluid">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" ng-click="navigationCollapse = !navigationCollapse">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="#/">Datatablar Builder</a>
                </div>
            </div>
        </div>
    </div>
    <div class="container-fluid">
        <div ng-view=""></div>
        <div class="footer">
            <p>built with passion and care by bangdc</p>
        </div>
    </div>
    <!-- build:[src] data-tablar/dependencies/jquery/dist/ -->
    <script src="bower_components/jquery/dist/jquery.js"></script>
    <!-- /build -->

    <!-- build:[src] data-tablar/dependencies/bootstrap/dist/js/ -->
    <script src="bower_components/bootstrap/dist/js/bootstrap.js"></script>
    <!-- /build -->

    <!-- build:js(.) scripts/angular.js -->
    <script src="bower_components/angular/angular.js"></script>
    <script src="bower_components/angular-animate/angular-animate.js"></script>
    <script src="bower_components/angular-cookies/angular-cookies.js"></script>
    <script src="bower_components/angular-resource/angular-resource.js"></script>
    <script src="bower_components/angular-route/angular-route.js"></script>
    <script src="bower_components/angular-sanitize/angular-sanitize.js"></script>
    <script src="bower_components/angular-touch/angular-touch.js"></script>
    <!-- endbuild -->
    
    <!-- build:[src] dependencies/ace-builds/src-min-noconflict/ -->
    <script src="bower_components/ace-builds/src-min-noconflict/ace.js"></script>
    <!-- /build -->

    <!-- build:[src] dependencies/angular-ui-ace/ -->
    <script src="bower_components/angular-ui-ace/ui-ace.js"></script>
    <!-- /build -->

    <!-- build:[src] dependencies/ng-dialog/js/ -->
    <script src="bower_components/ng-dialog/js/ngDialog.js"></script>
    <!-- /build -->

    <!-- build:[src] dependencies/underscore/ -->
    <script src="bower_components/underscore/underscore.js"></script>
    <!-- /build -->

    <!-- build:[src] dependencies/angular-local-storage/dist/ -->
    <script src="bower_components/angular-local-storage/dist/angular-local-storage.js"></script>
    <!-- /build -->

    <!-- build:[src] dependencies/angular-ui-notification/dist/ -->
    <script src="bower_components/angular-ui-notification/dist/angular-ui-notification.js"></script>
    <!-- /build -->

    <script src="data-tablar/dependencies/moment/moment.js"></script>
    <script src="data-tablar/dependencies/underscore/underscore.js"></script>
    <script src="data-tablar/dependencies/angular-ui-notification/dist/angular-ui-notification.js"></script>
    <script src="data-tablar/dependencies/ng-dialog/js/ngDialog.js"></script>
    <script src="data-tablar/dependencies/angular-bootstrap/ui-bootstrap-tpls.js"></script>
    <script src="data-tablar/dependencies/angular-moment/angular-moment.js"></script>
    <script src="data-tablar/dependencies/angular-translate/angular-translate.js"></script>
    <script src="data-tablar/dependencies/angular-translate-loader-static-files/angular-translate-loader-static-files.js"></script>
    <script src="data-tablar/dependencies/angular-local-storage/dist/angular-local-storage.js"></script>
    <script src="data-tablar/dependencies/rubaxa-sortable/Sortable.js"></script>
    <script src="data-tablar/dependencies/rubaxa-sortable/ng-sortable.js"></script>

    <script src="data-tablar/scripts/data-tablar.min.js"></script>
    <script src="data-tablar/scripts/data-tablar-services.min.js"></script>
    <script src="data-tablar/scripts/data-tablar-filters.min.js"></script>
    <script src="data-tablar/scripts/data-tablar-directives.min.js"></script>

    <!-- build:js({.tmp,app}) scripts/scripts.js -->
    <script src="scripts/config/labels.js"></script>
    <script src="scripts/config/toggles.js"></script>
    <script src="scripts/config/menu.js"></script>
    <script src="scripts/config/parameters.js"></script>
    <script src="scripts/app.js"></script>
    <script src="scripts/directives/builder-menu.js"></script>
    <script src="scripts/directives/builder-modal-helper.js"></script>
    <script src="scripts/directives/builder-http-config.js"></script>
    <script src="scripts/directives/builder-form-yes-no.js"></script>
    <script src="scripts/directives/builder-form-validation.js"></script>
    <script src="scripts/directives/builder-form-label.js"></script>
    <script src="scripts/directives/builder-toggle-var.js"></script>
    <script src="scripts/directives/builder-form-conversion-request.js"></script>
    <script src="scripts/directives/builder-form-conversion-response.js"></script>
    <script src="scripts/directives/builder-show-option-ajax-requests.js"></script>
    <script src="scripts/directives/builder-form-type-config.js"></script>
    <script src="scripts/directives/convert.to.number.js"></script>
    <script src="scripts/controllers/builder.js"></script>
    <script src="scripts/services/helper.js"></script>

    <script>
    (function(i, s, o, g, r, a, m) {
        i['GoogleAnalyticsObject'] = r;
        i[r] = i[r] || function() {
            (i[r].q = i[r].q || []).push(arguments)
        }, i[r].l = 1 * new Date();
        a = s.createElement(o),
            m = s.getElementsByTagName(o)[0];
        a.async = 1;
        a.src = g;
        m.parentNode.insertBefore(a, m)
    })(window, document, 'script', 'https://www.google-analytics.com/analytics.js', 'ga');
    ga('create', 'UA-82260103-1', 'auto', {
        'allowLinker': true
    });
    ga('require', 'linker');
    ga('linker:autoLink', ['demo-auth.datatablar.com', 'demo-proxy.datatablar.com', 'demo-film.datatablar.com', 'datatablar.com']);
    ga('send', 'pageview');
    </script>
    <!-- endbuild -->
</body>

</html>
