<div class="form-group" ng-class="{'has-success': valid, 'has-error': !valid}">
    <label class="control-label">
        <h3 ng-if="label">
        	<b class="text-danger" ng-if="config.displayRequiredStar" title="{{::$root.dataTablarDictionary.titleFormFieldRequire}}">*</b> 
        	{{::label}}:
        </h3> 
    </label>
    <input 
    	class="form-control input-sm" 
    	type="{{::type}}" 
    	ng-model="model" 
        ng-disabled="disabled" 
    	placeholder="{{::config.placeholder}}"
    	ng-model-options="{ debounce: 200 }">
    <div ng-include="$root.dataTablarBaseFolder + '/views/form-element-messages.html'"></div>
</div>
