<div class="panel panel-primary" id="dttb-table-panel">
    <div class="panel-heading">
        <h3 class="panel-title">
            <span>{{::dttb.config.table.label}}</span>
            <span 
                class="pull-right dttb-cursor-pointer" 
                title="{{::$root.dataTablarDictionary.phraseSendFeedback}}" 
                ng-click="dttb.openFeedBackForm();" class="text-default">
                <i class="fa fa-info-circle" aria-hidden="true"></i>
            </span>
            <span 
                style="padding-right: 5px;" 
                class="pull-right dttb-cursor-pointer" 
                title="{{::$root.dataTablarDictionary.phraseNeedSupport}}" 
                ng-click="dttb.openSupportDialog();" class="text-default">
                <i class="fa fa-question-circle" aria-hidden="true"></i>
            </span>
        </h3>
    </div>
    <div class="panel-body">
        <!--Navigation-->
        <ul class="nav nav-pills" ng-include="$root.dataTablarBaseFolder + '/views/table-navigation.html'"></ul>
        <hr>
        <div class="row">
            <!--Side panel-->
            <div class="col-md-3" ng-if="dttb.tableState.sidebarPanels.length">
                <div 
                    ng-repeat="panelKey in dttb.tableState.sidebarPanels"
                    ng-include="$root.dataTablarBaseFolder + '/views/panel-' + panelKey + '.html'">{{panelKey}}</div>
            </div>
            <!--Main Panel-->
            <div 
                ng-class="{
                    'col-md-9': dttb.tableState.sidebarPanels.length, 
                    'col-md-12': !dttb.tableState.sidebarPanels.length}">
                <div ng-include="$root.dataTablarBaseFolder + '/views/table-main.html'"></div>
            </div>
        </div>
        <hr>
        <div ng-include="$root.dataTablarBaseFolder + '/views/table-pagination.html'"></div>
    </div>
</div>
