<div ng-include="'/views/helps/help-modal-header.html'"></div>
<div class="modal-body dttb-modal-help-body" ng-switch on="version">
    <div ng-switch-default>
        <div>
            <h4><b>Usage</b></h4>
            <p>This is the <code>indispensable</code> action of the table.</p>
        </div>
        <div>
            <h4><b>Related subjects</b></h4>
            <ul>
                <li builder-form-label builder-label-key="builderActionReadingRequest"></li>
                <li builder-form-label builder-label-key="builderActionReadingFilters"></li>
            </ul>
        </div>
    </div>
</div>
<div ng-include="'/views/helps/help-modal-footer.html'"></div>
