<div ng-include="'/views/helps/help-modal-header.html'"></div>
<div class="modal-body dttb-modal-help-body" ng-switch on="version">
    <div ng-switch-default>
        <div>
            <h4><b>Usage</b></h4>
            <p>You can save <code>10</code> configurations in the <code>local storage</code>.</p>
            <p>The dialog allows you to <code>open/re-use</code> or <code>delete</code> the saved configuration.</p>
            <img onclick="window.open(this.src);" class="img-responsive" src="/views/helps/images/builder-open.png">
        </div>
    </div>
</div>
<div ng-include="'/views/helps/help-modal-footer.html'"></div>
