<div ng-include="'/views/helps/help-modal-header.html'"></div>
<div class="modal-body dttb-modal-help-body" ng-switch on="version">
    <div ng-switch-default>
        <div>
            <h4><b>Usage</b></h4>
            <p>There are <code>4</code> main <code>actions</code> that you have to configure for your table.</p>
            <ul>
                <li>
                    <label builder-form-label builder-label-key="builderActionReading"></label>
                </li>
                <li>
                    <label builder-form-label builder-label-key="builderActionCreating"></label>
                </li>
                <li>
                    <label builder-form-label builder-label-key="builderActionUpdating"></label>
                </li>
                <li>
                    <label builder-form-label builder-label-key="builderActionDeleting"></label>
                </li>
            </ul>
            <p>Action <code>Reading</code> is <label class="label label-danger">indispensable</label></p>
            <p>The other three actions is <label class="label label-info">optional</label></p>
        </div>
    </div>
</div>
<div ng-include="'/views/helps/help-modal-footer.html'"></div>