<div ng-include="'/views/helps/help-modal-header.html'"></div>
<div class="modal-body dttb-modal-help-body" ng-switch on="version">
    <div ng-switch-default>
        <div>
            <h4><b>Usage</b></h4>
            <p>These options ajax request are just the configuration of HTTP request. They are applicable for the form field type: <code>radio</code>, <code>select-single</code>, <code>select-multiple</code> and <code>typeahead.</code></p>
        </div>
    </div>
</div>
<div ng-include="'/views/helps/help-modal-footer.html'"></div>
