<div ng-include="'/views/helps/help-modal-header.html'"></div>
<div class="modal-body dttb-modal-help-body" ng-switch on="version">
    <div ng-switch-default>
        <div>
            <h4><b>Usage</b></h4>
            <p><label class="label label-success">Congratulation!</label> You will find here the result of your configuration.</p>
            <p>If you have any issues, please go back and review your configuration. Contact me for further supports if you need.</p>
        </div>
    </div>
</div>
<div ng-include="'/views/helps/help-modal-footer.html'"></div>
