<div ng-include="'/views/helps/help-modal-header.html'"></div>
<div class="modal-body dttb-modal-help-body" ng-switch on="version">
    <div ng-switch-default>
        <div>
            <h4><b>Usage</b></h4>
            <p>This section allows you to <code>add</code>, <code>configure</code> or <code>delete</code> the <code>columns</code> of table.</p>
            <p>You can <code>drag</code> and <code>drop</code> columns to organize them in the order you wish.</p>
        </div>
        <div>
            <h4><b>Related subjects</b></h4>
            <ul>
                <li builder-form-label builder-label-key="colLabel"></li>
                <li builder-form-label builder-label-key="colKey"></li>
                <li builder-form-label builder-label-key="colDisplayKey"></li>
                <li builder-form-label builder-label-key="colDataType"></li>
                <li builder-form-label builder-label-key="colRTLText"></li>
                <li builder-form-label builder-label-key="colHeaderDirection"></li>
                <li builder-form-label builder-label-key="colSortable"></li>
                <li builder-form-label builder-label-key="colLocalFilter"></li>
                <li builder-form-label builder-label-key="colHighlights"></li>
                <li builder-form-label builder-label-key="colDisplayAs"></li>
                <li builder-form-label builder-label-key="colDisplayAsConfig"></li>
                <li builder-form-label builder-label-key="colUneditable"></li>
                <li builder-form-label builder-label-key="formType"></li>
                <li builder-form-label builder-label-key="formTypeConfig"></li>
                <li builder-form-label builder-label-key="formValidations"></li>
            </ul>
        </div>
    </div>
</div>
<div ng-include="'/views/helps/help-modal-footer.html'"></div>
