<div ng-include="'/views/helps/help-modal-header.html'"></div>
<div class="modal-body dttb-modal-help-body" ng-switch on="version">
    <div ng-switch-default>
        <div>
            <h4><b>Usage</b></h4>
            <p>You can <code>enable</code> or <code>disable</code> the action <code>creating</code>. It depends on your application. For instance, some users might have the permission to <code>create</code> data of table while others might not.</p>
        </div>
        <div>
            <h4><b>Related subjects</b></h4>
            <ul>
                <li builder-form-label builder-label-key="builderActionCreatingRequest"></li>
                <li builder-form-label builder-label-key="builderActionCreatingFields"></li>
            </ul>
        </div>
    </div>
</div>
<div ng-include="'/views/helps/help-modal-footer.html'"></div>
