<div ng-include="'/views/helps/help-modal-header.html'"></div>
<div class="modal-body dttb-modal-help-body" ng-switch on="version">
    <div ng-switch-default>
        <div>
            <h4><b>Usage</b></h4>
            <p><code>data-tablar-builder</code> uses your configurations to generate the <code>data-tablar configuration object</code>. You can find below the <code>preview code</code>.</p>
            <p>You will simply <code>copy</code> that <code>configuration code</code> and <code>paste</code> to your application's script in order to use the <code>data-tablar</code> module</p>
            <ul>
            	<li>
            		Copy and paste in <code>controller</code>.
            		<img onclick="window.open(this.src);" class="img-responsive" src="/views/helps/images/preview-1.png">
            	</li>
            	<li>
            		Use directive <code>dttb-table</code> in <code>view</code>
            		<img onclick="window.open(this.src);" class="img-responsive" src="/views/helps/images/preview-2.png">
            	</li>
            </ul>
            <p><b>Note</b> please review the configuration and probably remove some unnecessary properties.</p>
        </div>
    </div>
</div>
<div ng-include="'/views/helps/help-modal-footer.html'"></div>
