<div ng-include="'/views/helps/help-modal-header.html'"></div>
<div class="modal-body dttb-modal-help-body" ng-switch on="version">
    <div ng-switch-default>
        <div>
            <h4><b>Related subjects</b></h4>
            <ul>
                <li>
                    <b>HTTP Request Configuration</b>
                    <ul>
                        <li builder-form-label builder-label-key="httpMethod"></li>
                        <li builder-form-label builder-label-key="httpUrl"></li>
                        <li builder-form-label builder-label-key="httpParams"></li>
                        <li builder-form-label builder-label-key="httpHeaders"></li>
                        <li builder-form-label builder-label-key="httpData"></li>
                        <li builder-form-label builder-label-key="httpXsrfHeaderName"></li>
                        <li builder-form-label builder-label-key="httpXsrfCookieName"></li>
                        <li builder-form-label builder-label-key="httpCache"></li>
                        <li builder-form-label builder-label-key="httpWithCredentials"></li>
                        <li builder-form-label builder-label-key="httpResponseType"></li>
                    </ul>
                </li>
                <li builder-form-label builder-label-key="conversionResponse"></li>
                <li builder-form-label builder-label-key="conversionRequest"></li>
            </ul>
        </div>
    </div>
</div>
<div ng-include="'/views/helps/help-modal-footer.html'"></div>
