<div ng-include="'/views/helps/help-modal-header.html'"></div>
<div class="modal-body dttb-modal-help-body" ng-switch on="version">
    <div ng-switch-default>
        <div>
            <h4><b>Usage</b></h4>
            <p>This section allows you to configure the <code>filter</code> panel on the left side of table. You can configure the number of filters as much as you wish. Normally, the <code>filter</code> should correspond to the <code>column</code>. <code>data-tablar</code> provides you a <code>Initializing tool <i class="fa fa-magic"></i></code> to <code>copy-paste</code> the essential properties of the column you want to filter.</p>
            <p>However, please keep in mind that these <code>filters</code> are independent from the <code>columns</code>. That means you can add some <code>extra filter</code> that is not necessary a <code>column</code> in the current table.</p>
            <p>You are free to <code>add</code>, <code>delete</code>, and <code>drag-drop</code> to have the filters panel in the order you wish.</p>
        </div>
    </div>
</div>
<div ng-include="'/views/helps/help-modal-footer.html'"></div>
