<div ng-include="'/views/helps/help-modal-header.html'"></div>
<div class="modal-body dttb-modal-help-body" ng-switch on="version">
    <div ng-switch-default>
        <div>
            <h4><b>Usage</b></h4>
            <p>You can <code>enable</code> or <code>disable</code> the action <code>updating</code>. It depends on your application. For instance, some users might have the permission to <code>update</code> data of table while others might not.</p>
            <p>If it is enable, you then have to configure 2 types of updating. The first is <code>double-click cell</code> and the other is through <code>click-on <i class="fa fa-pencil"></i></code></p>
            <p>Not all columns are <code>editable</code>. You can choose yourself which column is <code>editable</code> in the configuration section of columns.</p>
        </div>
    </div>
</div>
<div ng-include="'/views/helps/help-modal-footer.html'"></div>
