<div ng-include="'/views/helps/help-modal-header.html'"></div>
<div class="modal-body dttb-modal-help-body" ng-switch on="version">
    <div ng-switch-default>
        <div>
            <h4><b>Usage</b></h4>
            <p><code>Saving</code> configuration during building is <code>very important</code>. If something happens, you don't have to re-build from the ground.</p>
            <p>You can <code>name</code> the configuration for easily reminder.</p>
        </div>
    </div>
</div>
<div ng-include="'/views/helps/help-modal-footer.html'"></div>
