<div ng-include="'/views/helps/help-modal-header.html'"></div>
<div class="modal-body dttb-modal-help-body" ng-switch on="version">
    <div ng-switch-default>
        <div>
            <h4><b>Usage</b></h4>
            <p>This section allows you to configure the essential options for <code>data-tablar</code> table.</p>
        </div>
        <div>
            <h4><b>Related subjects</b></h4>
            <ul>
                <li builder-form-label builder-label-key="tableLabel"></li>
                <li builder-form-label builder-label-key="tableUniqueId"></li>
                <li builder-form-label builder-label-key="tablePrimaryLabel"></li>
                <li>
                    <span builder-form-label builder-label-key="tablePagination"></span>
                    <ul>
                        <li builder-form-label builder-label-key="tablePaginationShowing"></li>
                        <li builder-form-label builder-label-key="tablePaginationShowingNumRows"></li>
                        <li builder-form-label builder-label-key="tablePaginationShowingNumRowsSelect"></li>
                        <li builder-form-label builder-label-key="tablePaginationNumPagesDisplaying"></li>
                        <li builder-form-label builder-label-key="tablePaginationNumRowsPerPage"></li>
                        <li builder-form-label builder-label-key="tablePaginationNumRowsPerPageOptions"></li>
                    </ul>
                </li>
                <li>
                    <span builder-form-label builder-label-key="tableNavigation"></span>
                    <ul>
                        <li builder-form-label builder-label-key="tableNavigationHighlight"></li>
                        <li builder-form-label builder-label-key="tableNavigationArrange"></li>
                        <li builder-form-label builder-label-key="tableNavigationLocalSort"></li>
                        <li builder-form-label builder-label-key="tableNavigationHideShow"></li>
                        <li builder-form-label builder-label-key="tableNavigationLanguage"></li>
                        <li builder-form-label builder-label-key="tableNavigationExport"></li>
                        <li builder-form-label builder-label-key="tableNavigationPrint"></li>
                        <li builder-form-label builder-label-key="tableNavigationRefresh"></li>
                        <li builder-form-label builder-label-key="tableNavigationShare"></li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</div>
<div ng-include="'/views/helps/help-modal-footer.html'"></div>
