<div ng-include="'/views/helps/help-modal-header.html'"></div>
<div class="modal-body dttb-modal-help-body" ng-switch on="version">
    <div ng-switch-default>
        <div>
            <h4><b>Usage</b></h4>
            <p>This function is useful if you want to <code>update</code> or <code>re-use</code> an old configuration to make the <code>new</code> one.</p>
            <p>You can simply <code>paste</code> the old configuration in the box below, <code>data-tablar</code> will automatically render the <code>builder</code>. Then, you can modify the configuration as you want.</p>
            <h4><b>Example</b></h4>
            <p>Click to open the script, then <code>copy and paste</code> in the box.</p>
            <ul>
                <li><a href="/scripts/sample-configurations/users.js" target="_blank">Users</a></li>
                <li><a href="/scripts/sample-configurations/films.js" target="_blank">Films</a></li>
                <li><a href="/scripts/sample-configurations/envato-proxy.js" target="_blank">Envato API</a></li>
                <li><a href="/scripts/sample-configurations/posts-auth.js" target="_blank">Posts</a></li>
            </ul>
            <p><b>Note:</b> Please <code>copy/paste</code> the configuration object from <code>the first <strong>{</strong></code> until <code>the last <strong>}</strong></code>, as the figure below</p>
            <img onclick="window.open(this.src);" class="img-responsive" src="/views/helps/images/builder-upload.png">
        </div>
    </div>
</div>
<div ng-include="'/views/helps/help-modal-footer.html'"></div>
