<div ng-include="'/views/helps/help-modal-header.html'"></div>
<div class="modal-body dttb-modal-help-body" ng-switch on="version">
    <div ng-switch-default>
        <div>
            <h4><b>Usage</b></h4>
            <p>If you have to manage a big table with large data, you might sometimes need to <code>highlight</code> some <code>special</code> values in that table. For example, you might want to <code>highlight</code> the products having more than <code>500 sales</code> this month. To make it easier for you, <code>data-tablar</code> provides this <code>highlights</code> functionality.</p>
            <p>The basic method is that <code>IF</code> <span class="label label-info">a value</span> <span class="label label-success">validate</span> <span class="label label-info">a condition</span> <code>THEN</code> <span class="label label-danger">highlight</span></p>
            <p>Currently, <code>data-tablar</code> supports highlights for column whose <code>data type</code> is <code>number</code>, <code>text</code>, and <code>boolean</code></p>
            <p>The <code>toggle</code> button allows you to <code>enable</code> or <code>disable</code> the highlight feature for each column.</p>
            <h5><b>Supported highlight styles</b></h5>
            <ul>
                <li>Background Primary</li>
                <li>Background Success</li>
                <li>Background Info</li>
                <li>Background Warning</li>
                <li>Background Danger</li>
                <li>Text Primary</li>
                <li>Text Success</li>
                <li>Text Info</li>
                <li>Text Warning</li>
                <li>Text Danger</li>
            </ul>
            <h5><b>Supported highlight conditions</b></h5>
            <ul>
                <li>Equal</li>
                <li>Not Equal</li>
                <li>Greater than</li>
                <li>Greater than or equal</li>
                <li>Less than</li>
                <li>Less than or equal</li>
                <li>Minimum length</li>
                <li>Maximum length</li>
                <li>Containing text</li>
            </ul>
            <table class="table">
                <thead>
                    <tr>
                        <th>Example</th>
                        <th>Result</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>
                            <img onclick="window.open(this.src);" class="img-responsive" src="/views/helps/images/highlight-boolean-1.png">
                        </td>
                        <td>
                            <img onclick="window.open(this.src);" class="img-responsive" src="/views/helps/images/highlight-boolean-2.png">
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <img onclick="window.open(this.src);" class="img-responsive" src="/views/helps/images/highlight-number-1.png">
                        </td>
                        <td>
                            <img onclick="window.open(this.src);" class="img-responsive" src="/views/helps/images/highlight-number-2.png">
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <img onclick="window.open(this.src);" class="img-responsive" src="/views/helps/images/highlight-text-1.png">
                        </td>
                        <td>
                            <img onclick="window.open(this.src);" class="img-responsive" src="/views/helps/images/highlight-text-2.png">
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
<div ng-include="'/views/helps/help-modal-footer.html'"></div>
