<div ng-include="'/views/helps/help-modal-header.html'"></div>
<div class="modal-body dttb-modal-help-body" ng-switch on="version">
    <div ng-switch-default>
        <div>
            <h4><b>Usage</b></h4>
            <p>You can choose between <code>horizontal</code>, <code>vertical</code> and <code>diagonal</code> for the direction of column's header. By default, it is <code>horizontal</code></p>
            <table class="table">
                <tbody>
                    <tr>
                        <th>
                            <code>horizontal</code>
                        </th>
                        <td>
                            <img onclick="window.open(this.src);" class="img-responsive" src="/views/helps/images/col-label.png">
                        </td>
                    </tr>
                    <tr>
                        <th>
                            <code>vertical</code>
                        </th>
                        <td>
                            <img onclick="window.open(this.src);" class="img-responsive" src="/views/helps/images/col-label-vertical.png">
                        </td>
                    </tr>
                    <tr>
                        <th>
                            <code>diagonal</code>
                        </th>
                        <td>
                            <img onclick="window.open(this.src);" class="img-responsive" src="/views/helps/images/col-label-diag.png">
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
<div ng-include="'/views/helps/help-modal-footer.html'"></div>
