<div ng-include="'/views/helps/help-modal-header.html'"></div>
<div class="modal-body dttb-modal-help-body" ng-switch on="version">
    <div ng-switch-default>
        <div>
            <h4><b>Usage</b></h4>
            <p>This option allows you to enable or disable the filter button <code><i class="fa fa-filter"></i></code> on the header of each column.</p>
            <p>If it is enable, the column can be filtered locally by text.</p>
            <p>For instance, if users display <code>50</code> rows each page, it would be somehow difficult to locate some data in the table. That's how the <code>Filter</code> comes into play. It is useful for users when looking up for their needed data among the current loaded data.</p>
            <p>The example below shows how the right-side column was filtered by the text <code>Con</code>. That keyword matches with the first word <code>Consectetur</code>.</p>
            <img onclick="window.open(this.src);" class="img-responsive" src="/views/helps/images/col-filter.png">
            <table class="table">
                <thead>
                    <tr>
                        <th>Value</th>
                        <th>Result</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>
                            <span class="label label-success"><i class="fa fa-check"></i> Yes</span>
                        </td>
                        <td>
                            <span class="label label-success">Enabled</span>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <span class="label label-danger"><i class="fa fa-times"></i> No</span>
                        </td>
                        <td>
                            <span class="label label-danger">Disabled</span>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
<div ng-include="'/views/helps/help-modal-footer.html'"></div>
