<div ng-include="'/views/helps/help-modal-header.html'"></div>
<div class="modal-body dttb-modal-help-body" ng-switch on="version">
    <div ng-switch-default>
        <div>
            <h4><b>Usage</b></h4>
            <p>If you want to display boolean <code>true</code>, <code>false</code> as <code>text</code>, you can provide the value respectively.</p>
            <p>For displaying as <code>icon</code>, <code>data-tablar</code> supports <code>glyphicon</code> and <code>fontawesome</code> formatting as <code>glyphicon glyphicon-ok</code> or <code>fa fa-check</code></p>
            <table class="table">
                <tbody>
                    <tr>
                        <td>
                            <code>fontawesome</code>
                        </td>
                        <td><img onclick="window.open(this.src);" class="img-responsive" src="/views/helps/images/display-boolean-2.png"></td>
                    </tr>
                    <tr>
                        <td>
                            <code>glyphicon</code>
                        </td>
                        <td><img onclick="window.open(this.src);" class="img-responsive" src="/views/helps/images/display-boolean-icon.png"></td>
                    </tr>
                    <tr>
                        <td>
                            <code>text</code>
                        </td>
                        <td><img onclick="window.open(this.src);" class="img-responsive" src="/views/helps/images/display-boolean-text.png"></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
<div ng-include="'/views/helps/help-modal-footer.html'"></div>
