<div ng-include="'/views/helps/help-modal-header.html'"></div>
<div class="modal-body dttb-modal-help-body" ng-switch on="version">
    <div ng-switch-default>
        <div>
            <h4><b>Usage</b></h4>
            <p>You can <code>enable</code> or <code>disable</code> this feature</p>
            <p>If it is enable, you have 3 options, which are:</p>
            
            <table class="table">
                <thead>
                    <tr>
                        <th>Option</th>
                        <th>Result</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td><code>Capitalize Each Word</code></td>
                        <td><img onclick="window.open(this.src);" class="img-responsive" src="/views/helps/images/display-textcase-capital-each.png"></td>
                    </tr>
                    <tr>
                        <td><code>Uppercase</code></td>
                        <td><img onclick="window.open(this.src);" class="img-responsive" src="/views/helps/images/display-textcase-upper.png"></td>
                    </tr>
                    <tr>
                        <td><code>Lowercase</code></td>
                        <td><img onclick="window.open(this.src);" class="img-responsive" src="/views/helps/images/display-textcase-lower.png"></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
<div ng-include="'/views/helps/help-modal-footer.html'"></div>
