<div ng-include="'/views/helps/help-modal-header.html'"></div>
<div class="modal-body dttb-modal-help-body" ng-switch on="version">
    <div ng-switch-default>
        <div>
            <h4><b>Usage</b></h4>
            <p>This option supports for the <code>model key</code> option below</p>
            <p>In order to understand the idea, let see the example below:</p>
            <ul>
                <li>You want this column to display the URL to user's profile</li>
                <li>The response object from server provides properties <code>user_name</code>, and <code>user_url</code></li>
                <li>The <code>user_name</code> might have value as <code>foo.bar</code></li>
                <li>The <code>user_url</code> might have value as <code>http://datatablar.com/a-very-long-url-profile-example</code></li>
                <li>Then, the problem is the <code>user_url</code> is too long and has no <code>space</code>. It will cause a bad view in your table, like <a href="http://datatablar.com/a-very-long-url-profile-example">http://datatablar.com/a-very-long-url-profile-example</a></li>
                <li>The solution is that you can set the <code>model key</code> as <code>user_url</code> and the <code>display_key</code> as <code>user_name</code>. As the result, it would display like <a href="http://datatablar.com/a-very-long-url-profile-example">foo.bar</a></li>
            </ul>
        </div>
    </div>
</div>
<div ng-include="'/views/helps/help-modal-footer.html'"></div>
