<div ng-include="'/views/helps/help-modal-header.html'"></div>
<div class="modal-body dttb-modal-help-body" ng-switch on="version">
    <div ng-switch-default>
        <div>
            <h4><b>Usage</b></h4>
            <p>If the column represents, for example, the description of product, and you don't want to display every 200 words in each row of the table.</p>
            <p><code>data-tablar</code> provides you this function to shorten this kind of <code>long-text</code> data.</p>
            <p>You need to specify the <code>begin</code> and <code>length</code> of the text you want to cut from the original text. The whole text will display when users hover on the cell.</p>
            <h4><b>Example</b></h4>
            <table class="table">
                <thead>
                    <th>Original</th>
                    <th>Shorten</th>
                </thead>
                <tbody>
                    <td><img onclick="window.open(this.src);" class="img-responsive" src="/views/helps/images/display-textcase-lower.png"></td>
                    <td><img onclick="window.open(this.src);" class="img-responsive" src="/views/helps/images/display-text-limit.png"></td>
                </tbody>
            </table>
        </div>
    </div>
</div>
<div ng-include="'/views/helps/help-modal-footer.html'"></div>
