<div ng-include="'/views/helps/help-modal-header.html'"></div>
<div class="modal-body dttb-modal-help-body" ng-switch on="version">
    <div ng-switch-default>
        <div>
            <h4><b>Usage</b></h4>
            <p>You need to specify the type of column's data, which could be:</p>
            <ul>
                <li><code>number</code></li>
                <li><code>text</code></li>
                <li><code>array</code></li>
                <li><code>boolean</code></li>
                <li><code>date</code></li>
            </ul>
            <p>The following configurations depend on the choice of data type.</p>
            <ul>
                <li builder-form-label builder-label-key="colHighlights"></li>
                <li builder-form-label builder-label-key="colDisplayAs"></li>
                <li builder-form-label builder-label-key="colDisplayAsConfig"></li>
                <li builder-form-label builder-label-key="colUneditable"></li>
                <li builder-form-label builder-label-key="formType"></li>
                <li builder-form-label builder-label-key="formTypeConfig"></li>
                <li builder-form-label builder-label-key="formValidations"></li>
            </ul> 
        </div>
    </div>
</div>
<div ng-include="'/views/helps/help-modal-footer.html'"></div>
