<div ng-include="'/views/helps/help-modal-header.html'"></div>
<div class="modal-body dttb-modal-help-body" ng-switch on="version">
    <div ng-switch-default>
        <div>
            <h4><b>Usage</b></h4>
            <p>This option let you format how the data type of <code>date</code> will be displayed in table.</p>
            <p>By default it will be formatted as <code>YYYY-MM-DD</code></p>
            <p>Please refer to this <a href="http://momentjs.com/docs/#/displaying/format/">Moment Link</a> to understand the date format string.</p>
            <p>This <code>format</code> only applies for displaying the date in table. It does not apply for the <code>datepicker</code>. The <code>datepicker</code> always takes <code>YYYY-MM-DD</code> as the format. I am very sorry for this inconvenience, the problem will be resolved in further releases after analyzing the feedbacks.</p>
            <h4><b>Example</b></h4>
            <table class="table">
                <tbody>
                    <tr>
                        <td>
                            <code>YYYY/MM/DD</code>
                        </td>
                        <td><img onclick="window.open(this.src);" class="img-responsive" src="/views/helps/images/display-date-1.png"></td>
                    </tr>
                    <tr>
                        <td>
                            <code>DD-MM-YYYY</code>
                        </td>
                        <td><img onclick="window.open(this.src);" class="img-responsive" src="/views/helps/images/display-date-2.png"></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
<div ng-include="'/views/helps/help-modal-footer.html'"></div>
