<div ng-include="'/views/helps/help-modal-header.html'"></div>
<div class="modal-body dttb-modal-help-body" ng-switch on="version">
    <div ng-switch-default>
        <div>
            <h4><b>Usage</b></h4>
            <p>You can choose the symbol you want. It could be <code>$</code>, <code>EUR</code>, or <code>%</code></p>
            <h4><b>Example</b></h4>
            <table class="table">
                <thead>
                    <tr>
                        <th><code>$</code></th>
                        <th><code>EUR </code></th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td><img onclick="window.open(this.src);" class="img-responsive" src="/views/helps/images/display-currency-1.png"></td>
                        <td><img onclick="window.open(this.src);" class="img-responsive" src="/views/helps/images/display-currency-2.png"></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
<div ng-include="'/views/helps/help-modal-footer.html'"></div>
