<div ng-include="'/views/helps/help-modal-header.html'"></div>
<div class="modal-body dttb-modal-help-body" ng-switch on="version">
    <div ng-switch-default>
        <div>
            <h4><b>Usage</b></h4>
            <p>This important option allows you to enable or disable the ability to edit column's data.</p>
            <p>For instance, if the column is <code>USER ID</code> you can set it as <code>YES</code> to prevent users from editing because it is the <code>primary</code> column in table as well as in the remote database. The configuration is totally depended on your application's requirements.</p>
            <p>However, the other columns can be obviously edited. If so, users can <code>double-click</code> on <code>CELL</code> or <code>click</code> on button <code><i class="fa fa-pencil"></i></code> in column <code>ACTIONS</code> in order to update the data.</p>
            <table class="table">
                <thead>
                    <tr>
                        <th>Value</th>
                        <th>Result</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>
                            <span class="label label-success"><i class="fa fa-check"></i> Yes</span>
                        </td>
                        <td>
                            Column's data will not be able to be edited.
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <span class="label label-danger"><i class="fa fa-times"></i> No</span>
                        </td>
                        <td>
                            <p>Column's data can be edited. You need to configure also</p>
                            <ul>
                                <li builder-form-label builder-label-key="formType"></li>
                                <li builder-form-label builder-label-key="formTypeConfig"></li>
                                <li builder-form-label builder-label-key="formValidations"></li>
                            </ul>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
<div ng-include="'/views/helps/help-modal-footer.html'"></div>
