<div ng-include="'/views/helps/help-modal-header.html'"></div>
<div class="modal-body dttb-modal-help-body" ng-switch on="version">
    <div ng-switch-default>
        <div>
            <h4><b>Usage</b></h4>
            <p><code>data-tablar</code> will request <code>data</code> from your server. It will then receive the <code>response object</code>. Each column data corresponds with a <code>property</code> in the <code>response object</code>. In order to make it appears in the table, you have to provide that <code>property</code> here</p>
            <h4><b>Example</b></h4>
            <p>If this column is for displaying <code>USER ID</code>, and the response object have a property <code>user_id</code>, you should fill in this option as <code>user_id</code></p>
            <p>This <code>key</code> will also be the name of the parameter to be sent to server while updating row.</p>
        </div>
    </div>
</div>
<div ng-include="'/views/helps/help-modal-footer.html'"></div>
