<div ng-include="'/views/helps/help-modal-header.html'"></div>
<div class="modal-body dttb-modal-help-body" ng-switch on="version">
    <div ng-switch-default>
        <div>
            <h4><b>Usage</b></h4>
            <p>The label represents for the type of data the column contains, for instance.</p>
            <img onclick="window.open(this.src);" class="img-responsive" src="/views/helps/images/col-label.png">
            <table class="table">
                <tbody>
                    <tr>
                        <th>
                            Type
                        </th>
                        <td>
                            <span class="label label-info">string</span>
                        </td>
                    </tr>
                    <tr>
                        <th>
                            Example
                        </th>
                        <td>
                            <ul>
                                <li><code>Employee ID</code></li>
                                <li><code>Date of birth</code></li>
                                <li>etc.</li>
                            </ul>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
<div ng-include="'/views/helps/help-modal-footer.html'"></div>
