<div ng-include="'/views/helps/help-modal-header.html'"></div>
<div class="modal-body dttb-modal-help-body" ng-switch on="version">
    <div ng-switch-default>
        <div>
            <h4><b>Usage</b></h4>
            <p>This option allows you to set how many decimal places.</p>
            <h4><b>Example</b></h4>
            <table class="table">
                <thead>
                    <tr>
                        <th>Size <code>1</code></th>
                        <th>Size <code>3</code></th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td><img onclick="window.open(this.src);" class="img-responsive" src="/views/helps/images/display-number-fraction-1.png"></td>
                        <td><img onclick="window.open(this.src);" class="img-responsive" src="/views/helps/images/display-number-fraction-3.png"></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
<div ng-include="'/views/helps/help-modal-footer.html'"></div>
