<div ng-include="'/views/helps/help-modal-header.html'"></div>
<div class="modal-body dttb-modal-help-body" ng-switch on="version">
    <div ng-switch-default>
        <div>
            <h4><b>Usage</b></h4>
            <p>This option allows you to enable or disable the sorting button <code><i class="fa fa-sort"></i></code> on the header of each column.</p>
            <p>If it is enable, the column can be sorted ascending or descending. <code>data-tablar</code> will send parameters <code>dttbSortCol</code> and <code>dttbSortDir</code> in the <code>HTTP</code> request</p>
            <p>You can configure your own function <code>conversionRequest</code> to modify these parameters as you want, before they reach the request endpoint on your server.</p>
            <p>The example below shows the <code>disabled</code> sorting for column <code>Avatar</code> and the <code>enabled</code> sorting for column <code>Email</code></p>
            <img onclick="window.open(this.src);" class="img-responsive" src="/views/helps/images/col-sortable.png">
            <table class="table">
                <thead>
                    <tr>
                        <th>Value</th>
                        <th>Result</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>
                            <span class="label label-success"><i class="fa fa-check"></i> Yes</span>
                        </td>
                        <td>
                            <span class="label label-success">Enabled</span>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <span class="label label-danger"><i class="fa fa-times"></i> No</span>
                        </td>
                        <td>
                            <span class="label label-danger">Disabled</span>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
<div ng-include="'/views/helps/help-modal-footer.html'"></div>
