<div ng-include="'/views/helps/help-modal-header.html'"></div>
<div class="modal-body dttb-modal-help-body" ng-switch on="version">
    <div ng-switch-default>
        <div>
            <h4><b>Usage</b></h4>
            <p>This section allows you to configure how the data will be displayed in the table. The configurations will be dependent on your choice of <code>display as</code> above.</p>
            <ol>
                <li>
                    <code>number</code>
                    <ul>
                        <li><label builder-form-label builder-label-key="colDisplayAsConfigFractionSize"></label></li>
                    </ul>
                </li>
                <li>
                    <code>ordinal</code>
                </li>
                <li>
                    <code>currency</code>
                    <ul>
                        <li><label builder-form-label builder-label-key="colDisplayAsConfigFractionSize"></label></li>
                        <li><label builder-form-label builder-label-key="colDisplayAsConfigCurrency"></label></li>
                    </ul>
                </li>
                <li>
                    <code>text</code>
                    <ul>
                        <li><label builder-form-label builder-label-key="colDisplayAsConfigTextCase"></label></li>
                        <li><label builder-form-label builder-label-key="colDisplayAsConfigLimitToLength"></label></li>
                        <li><label builder-form-label builder-label-key="colDisplayAsConfigLimitToBegin"></label></li>
                    </ul>
                </li>
                <li>
                    <code>url</code>
                </li>
                <li>
                    <code>email</code>
                </li>
                <li>
                    <code>image</code>
                </li>
                <li>
                    <code>array</code>
                    <ul>
                        <li><label builder-form-label builder-label-key="colDisplayAsConfigArrayAs"></label></li>
                    </ul>
                </li>
                <li>
                    <code>boolean</code>
                    <ul>
                        <li><label builder-form-label builder-label-key="colDisplayAsConfigBooleanAs"></label></li>
                        <li><label builder-form-label builder-label-key="booleanDisplayTrue"></label></li>
                        <li><label builder-form-label builder-label-key="booleanDisplayFalse"></label></li>
                    </ul>
                </li>
                <li>
                    <code>date</code>
                    <ul>
                        <li><label builder-form-label builder-label-key="colDisplayAsConfigDateFormat"></label></li>
                    </ul>
                </li>
            </ol>
        </div>
    </div>
</div>
<div ng-include="'/views/helps/help-modal-footer.html'"></div>
