<div ng-include="'/views/helps/help-modal-header.html'"></div>
<div class="modal-body dttb-modal-help-body" ng-switch on="version">
    <div ng-switch-default>
        <div>
            <h4><b>Usage</b></h4>
            <p>After choosing the data type of column, you need to specify how it will be displayed. The options depend on the data type.</p>
            <ol>
                <li><code>number</code></li>
                <ul>
                    <li>
                        <code>number</code>
                        <img onclick="window.open(this.src);" class="img-responsive" src="/views/helps/images/col-display-number.png">
                    </li>
                    <li>
                        <code>ordinal</code>
                        <img onclick="window.open(this.src);" class="img-responsive" src="/views/helps/images/col-display-ordinal.png">
                    </li>
                    <li>
                        <code>currency</code>
                        <img onclick="window.open(this.src);" class="img-responsive" src="/views/helps/images/col-display-currency.png">
                    </li>
                </ul>
                <li><code>text</code></li>
                <ul>
                    <li>
                        <code>text</code>
                        <img onclick="window.open(this.src);" class="img-responsive" src="/views/helps/images/col-display-text.png">
                    </li>
                    <li>
                        <code>url</code>
                        <img onclick="window.open(this.src);" class="img-responsive" src="/views/helps/images/col-display-url.png">
                    </li>
                    <li>
                        <code>email</code>
                        <img onclick="window.open(this.src);" class="img-responsive" src="/views/helps/images/col-display-email.png">
                    </li>
                    <li>
                        <code>image</code>
                        <img onclick="window.open(this.src);" class="img-responsive" src="/views/helps/images/col-display-image.png">
                    </li>
                </ul>
                <li>
                    <code>array</code>
                    <img onclick="window.open(this.src);" class="img-responsive" src="/views/helps/images/col-display-array.png">
                </li>
                <li>
                    <code>boolean</code>
                    <img onclick="window.open(this.src);" class="img-responsive" src="/views/helps/images/col-display-boolean.png">
                </li>
                <li>
                    <code>date</code>
                    <img onclick="window.open(this.src);" class="img-responsive" src="/views/helps/images/col-display-date.png">
                </li>
            </ol>
        </div>
    </div>
</div>
<div ng-include="'/views/helps/help-modal-footer.html'"></div>
