<div ng-include="'/views/helps/help-modal-header.html'"></div>
<div class="modal-body dttb-modal-help-body" ng-switch on="version">
    <div ng-switch-default>
        <div>
            <h4><b>Usage</b></h4>
            <p>This option allows you to customize yourself how the <code>boolean</code> data will display in the table instead of just only <code>true</code> or <code>false</code>.</p>
            <p>If you choose to display as <code>text</code> or <code>icon</code>, you will need to provide the value for <code>true</code> and <code>false</code></p>
            <h4><b>Example</b></h4>
            <table class="table">
                <tbody>
                    <tr>
                        <td>
                            <code>default</code>
                        </td>
                        <td><img onclick="window.open(this.src);" class="img-responsive" src="/views/helps/images/display-boolean-default.png"></td>
                    </tr>
                    <tr>
                        <td>
                            <code>icon</code>
                        </td>
                        <td><img onclick="window.open(this.src);" class="img-responsive" src="/views/helps/images/display-boolean-icon.png"></td>
                    </tr>
                    <tr>
                        <td>
                            <code>text</code>
                        </td>
                        <td><img onclick="window.open(this.src);" class="img-responsive" src="/views/helps/images/display-boolean-text.png"></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
<div ng-include="'/views/helps/help-modal-footer.html'"></div>
