<div ng-include="'/views/helps/help-modal-header.html'"></div>
<div class="modal-body dttb-modal-help-body" ng-switch on="version">
    <div ng-switch-default>
        <div>
            <h4><b>Usage</b></h4>
            <p>You can configure how the array elements will be displayed.</p>
            <h4><b>Example</b></h4>
            <table class="table">
                <thead>
                    <tr>
                        <th><code>List</code></th>
                        <th><code>Text</code></th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td><img onclick="window.open(this.src);" class="img-responsive" src="/views/helps/images/display-array-list.png"></td>
                        <td><img onclick="window.open(this.src);" class="img-responsive" src="/views/helps/images/display-array-text.png"></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
<div ng-include="'/views/helps/help-modal-footer.html'"></div>
