<div ng-include="'/views/helps/help-modal-header.html'"></div>
<div class="modal-body dttb-modal-help-body" ng-switch on="version">
    <div ng-switch-default>
        <div>
            <h4><b>data-tablar response format</b></h4>
            <p>As same as the <code>conversionResponse</code>, you can use the <code>conversionRequest</code> to adapt the HTTP object configuration to your API. You can modify the <code>data</code>, <code>params</code> or <code>headers</code> etc. before they will be sent to your API.</p>
            <p>The function takes one parameter <code>requestConfig</code> which is the HTTP object configuration containing all necessary request informations. The figure below describes a HTTP object configuration after being modified in the <code>conversionRequest</code></p>
            <img onclick="window.open(this.src);" class="img-responsive" src="/views/helps/images/conversion-request.png">
            <h4><b>Example</b></h4>
            <h5><b>Reading options</b></h5>
            <img onclick="window.open(this.src);" class="img-responsive" src="/views/helps/images/conversion-request-options.png">
            <br>
            <h5><b>Reading rows</b></h5>
            <img onclick="window.open(this.src);" class="img-responsive" src="/views/helps/images/conversion-request-reading.png">
        </div>
    </div>
</div>
<div ng-include="'/views/helps/help-modal-footer.html'"></div>
