<div ng-include="'/views/helps/help-modal-header.html'"></div>
<div class="modal-body dttb-modal-help-body" ng-switch on="version">
    <div ng-switch-default>
        <div>
            <h4><b>data-tablar response format</b></h4>
            <p><code>data-tablar</code> has the standard format for resposne of HTTP request. The response must be type of <code>JSON</code>.</p>
            <p>Each response <code>JSON</code> object must have two properties:</p>
            <ul>
                <li><label class="label label-success">dttbSuccess</label> is of type <code>boolean</code>. It indicates whether it is a successful request or not.</li>
                <li>
                    <p><label class="label label-success">dttbResponse</label> is of type <code>object</code> or <code>text</code>. It could be the <code>data object</code> or <code>error message</code>, corresponding to the value of <code>dttbSuccess</code></p>
                    <p>For the case of requesting for <code>rows data - reading action</code> and requesting for <code>Options</code> of <code>typeahead, select-single, select-multiple, radio</code>, the <code>dttbResponse</code> must have these properties below</p>
                    <ol>
                        <li>
                            <p>For <code>reading action</code>, it must have</p>
                            <ul>
                                <li>
                                    <p><label class="label label-success">dttbRows</label> - array of rows data</p>
                                    <p><label class="label label-success">dttbNumTotalRows</label> - number of total rows in your database</p>
                                </li>
                            </ul>
                        </li>
                        <li>
                            <p>For <code>options</code>, it must have</p>
                            <ul>
                                <li>
                                    <p><label class="label label-success">dttbOptions</label> - array of options</p>
                                </li>
                            </ul>
                        </li>
                    </ol>
                </li>
            </ul>
            <h4><b>Usage</b></h4>
            <p>At this point, you might wonder that to adapt to the standard response format, you need to re-code again the API. Well, it is not necessary, because the purpose of this <code>conversionResponse</code> function is to convert the response from your API into the standard response for <code>data-tablar</code></p>
            <p>The <code>conversionResponse</code> function takes <code>1 parameter</code> naming <label class="label label-success">response</label>. It is the <code>response object</code> of HTTP request. According to the documentation of <code>angularjs</code>, it contains the properties below:</p>
            <ul>
                <li><code>data</code> – The response from your API.</li>
                <li><code>status</code> – HTTP status code of the response.</li>
                <li><code>headers</code> – Header getter function.</li>
                <li><code>config</code> – The configuration object that was used to generate the request.</li>
                <li><code>statusText</code> – HTTP status text of the response.</li>
            </ul>
            <img onclick="window.open(this.src);" class="img-responsive" src="/views/helps/images/conversion-response.png">
            <h4><b>Example</b></h4>
            <h5><b>Reading options</b></h5>
            <img onclick="window.open(this.src);" class="img-responsive" src="/views/helps/images/conversion-response-options.png">
            <br>
            <h5><b>Reading rows</b></h5>
            <img onclick="window.open(this.src);" class="img-responsive" src="/views/helps/images/conversion-response-reading.png">
        </div>
    </div>
</div>
<div ng-include="'/views/helps/help-modal-footer.html'"></div>
