<div ng-include="'/views/helps/help-modal-header.html'"></div>
<div class="modal-body dttb-modal-help-body" ng-switch on="version">
    <div ng-switch-default>
        <div>
            <h4><b>Usage</b></h4>
            <p>It is the <code>label</code> of the field</p>
            <img onclick="window.open(this.src);" class="img-responsive" src="/views/helps/images/form-config-require-star.png">
        </div>
    </div>
</div>
<div ng-include="'/views/helps/help-modal-footer.html'"></div>
