<div ng-include="'/views/helps/help-modal-header.html'"></div>
<div class="modal-body dttb-modal-help-body" ng-switch on="version">
    <div ng-switch-default>
        <div>
            <h4><b>Usage</b></h4>
            <p>You need to specify the type of field's data, which could be:</p>
            <ul>
                <li><code>number</code></li>
                <li><code>text</code></li>
                <li><code>array</code></li>
                <li><code>boolean</code></li>
                <li><code>date</code></li>
            </ul>
        </div>
    </div>
</div>
<div ng-include="'/views/helps/help-modal-footer.html'"></div>
