<div ng-include="'/views/helps/help-modal-header.html'"></div>
<div class="modal-body dttb-modal-help-body" ng-switch on="version">
    <div ng-switch-default>
        <div>
            <h4><b>Usage</b></h4>
            <p>If you want to provide user some options to select as the filter value, you need to configure these options.</p>
            <p>Please refer to these documentation for form field <code>typeahead</code></p>
            <ul>
                <li><label builder-form-label builder-label-key="formTypeConfigOptionsAjaxRequest"></label></li>
                <li><label builder-form-label builder-label-key="formTypeConfigOptions"></label></li>
                <li><label builder-form-label builder-label-key="formTypeConfigTypeaheadKey"></label></li>
            </ul>
        </div>
    </div>
</div>
<div ng-include="'/views/helps/help-modal-footer.html'"></div>
