<div ng-include="'/views/helps/help-modal-header.html'"></div>
<div class="modal-body dttb-modal-help-body" ng-switch on="version">
    <div ng-switch-default>
        <div>
            <h4><b>Usage</b></h4>
            <p><code>data-tablar</code> provides 2 solutions for filtering data.</p>
            <p>The first is <code>without filtering conditions</code>. The second is <code>with filtering conditions</code>.</p>
            <p>Let see the example below</p>
            <img onclick="window.open(this.src);" class="img-responsive" src="/views/helps/images/filter-conditions.png">
            <ul>
                <li>The field <code>Employee ID</code> is filtered with conditions. Theses conditions are configured like: <img onclick="window.open(this.src);" class="img-responsive" src="/views/helps/images/filter-conditions-3.png"></li>
                <li>The field <code>User Address</code> is filtered without conditions</li>
                <li>The reason is that the <code>Employee ID</code> is the <code>number</code> field data, and hence, it is easier to be filtered with conditions. While the <code>User Address</code> is the <code>text</code> field data, and hence, just a filter value is enough to perform a search request in database. It totally depends on the features of your application.</li>
                <li>As the result, the <code>filter query</code> is <img onclick="window.open(this.src);" class="img-responsive" src="/views/helps/images/filter-conditions-2.png"></li>
            </ul>
        </div>
    </div>
</div>
<div ng-include="'/views/helps/help-modal-footer.html'"></div>
