<div ng-include="'/views/helps/help-modal-header.html'"></div>
<div class="modal-body dttb-modal-help-body" ng-switch on="version">
    <div ng-switch-default>
        <div>
            <h4><b>Usage</b></h4>
            <p>If you allow users to <code>update</code> or <code>create</code> data in your table, you will need to implement some <code>validations</code> to protect your data.</p>
            <p><code>data-tablar</code> provides the essential validations on the client side to help you.</p>
            <p>In the section on the right-side, you can select the type of validation, the condition as well as the error message you want to notify users.</p>
            <p>Currently, <code>data-tablar</code> supports validations for column whose <code>data type</code> is <code>number</code>, <code>text</code>, <code>boolean</code> and <code>date</code>. <b>Note:</b> If you change the <code>data type</code>, you then need manually update the <code>validations</code></p>
            <h5><b>Supported validations</b></h5>
            <ul>
                <li>[>] Greater Than</li>
                <li>[>=] Greater Than or Equal</li>
                <li>[===] Equal To</li>
                <li>[!==] Not Equal To</li>
                <li>[<=] Less Than or Equal</li>
                <li>[<] Less Than</li>
                <li>Containing</li>
                <li>Maximum Length</li>
                <li>Required</li>
                <li>Date Since</li>
                <li>Date Until</li>
            </ul>
            <h4><b>Note</b></h4>
            <p>Please keep in mind that you still need your own validations on your <code>server side</code>. It is very <code>necessary</code> and <code>important</code> to protect your application and your database.</p>
            <p>The idea is that when you received the <code>data</code> and <code>parameters</code> on your <code>server-side</code>, you can process and verify that chunk of data, then return the <code>response</code> to <code>data-tablar</code> module. You can do so in the configuration of <code>updating</code> and <code>creating</code> actions.</p>
            <h4><b>Example</b></h4>
            <img onclick="window.open(this.src);" class="img-responsive" src="/views/helps/images/form-validation-number.png">
            <img onclick="window.open(this.src);" class="img-responsive" src="/views/helps/images/form-validation-text.png">
        </div>
    </div>
</div>
<div ng-include="'/views/helps/help-modal-footer.html'"></div>
