<div ng-include="'/views/helps/help-modal-header.html'"></div>
<div class="modal-body dttb-modal-help-body" ng-switch on="version">
    <div ng-switch-default>
        <div>
            <h4><b>Usage</b></h4>
            <p>The property from <code>options</code> object as the value of form model</p>
            <h4><b>Example</b></h4>
            <code>[{"val":"1","label":"Female"},{"val":"2","label":"Male"},{"val":"3","label":"Other"}]</code>
            <p>For the example above, you might choose the property <code>val</code> if in the database you set <code>1</code> as <code>Female</code>, so on.</p>
        </div>
    </div>
</div>
<div ng-include="'/views/helps/help-modal-footer.html'"></div>
