<div ng-include="'/views/helps/help-modal-header.html'"></div>
<div class="modal-body dttb-modal-help-body" ng-switch on="version">
    <div ng-switch-default>
        <div>
            <h4><b>Usage</b></h4>
            <p>The options allow you to configure the form field.</p>
        </div>
        <div>
            <h4><b>Related subjects</b></h4>
            <ul>
                <li><label builder-form-label builder-label-key="formTypeConfigRequiredStar"></label></li>
                <li><label builder-form-label builder-label-key="formTypeConfigPlaceholder"></label></li>
                <li><label builder-form-label builder-label-key="formTypeConfigOptionsAjaxRequest"></label></li>
                <li><label builder-form-label builder-label-key="formTypeConfigOptions"></label></li>
                <li><label builder-form-label builder-label-key="formTypeConfigOptionModelKey"></label></li>
                <li><label builder-form-label builder-label-key="formTypeConfigOptionDisplayKey"></label></li>
                <li><label builder-form-label builder-label-key="formTypeConfigOptionsAjaxRequest"></label></li>
                <li><label builder-form-label builder-label-key="formTypeConfigBooleanAs"></label></li>
                <li><label builder-form-label builder-label-key="booleanDisplayTrue"></label></li>
                <li><label builder-form-label builder-label-key="booleanDisplayFalse"></label></li>
            </ul>
        </div>
    </div>
</div>
<div ng-include="'/views/helps/help-modal-footer.html'"></div>
