<div ng-include="'/views/helps/help-modal-header.html'"></div>
<div class="modal-body dttb-modal-help-body" ng-switch on="version">
    <div ng-switch-default>
        <div>
            <h4><b>Usage</b></h4>
            <p>You can manually provide the <code>options</code> for this form element. They will be static and remain unchange unless you configure the <code>options ajax request</code>. The request will replace these <code>static options</code> by its response.</p>
            <p>Please provide <code>options</code> in the format of <code>JSON string</code></p>
            <h4><b>Example</b></h4>
            <code>[{"key":"Female","label":"Female"},{"key":"Male","label":"Male"},{"key":"Other","label":"Other"}]</code>
            <p>You will need also set <b>(except <code>typeahead</code>)</b></p>
            <ul>
                <li><label builder-form-label builder-label-key="formTypeConfigOptionModelKey"></label></li>
                <li><label builder-form-label builder-label-key="formTypeConfigOptionDisplayKey"></label></li>
            </ul>
        </div>
    </div>
</div>
<div ng-include="'/views/helps/help-modal-footer.html'"></div>
