<div ng-include="'/views/helps/help-modal-header.html'"></div>
<div class="modal-body dttb-modal-help-body" ng-switch on="version">
    <div ng-switch-default>
        <div>
            <h4><b>Usage</b></h4>
            <p>If the column is <code>editable</code>, then you need to configure the form. That means you need to select <code>Form Type</code> and configure that <code>Form Type</code></p>
            <p><code>data-tablar</code> supports the essential form types and they are based on the selected <code>data type</code>.</p>
            <p>These form types will be displayed both in <code>CELL</code>(<code>double-click</code>) and <code>ROW</code> updating.</p>
            <ol>
                <li><code>number</code></li>
                <ul>
                    <li>
                        <code>input</code>
                        <img onclick="window.open(this.src);" class="img-responsive" src="/views/helps/images/form-input-number.png">
                    </li>
                    <li>
                        <code>selectSingle</code>
                        <img onclick="window.open(this.src);" class="img-responsive" src="/views/helps/images/form-select-single.png">
                    </li>
                    <li>
                        <code>radio</code>
                        <img onclick="window.open(this.src);" class="img-responsive" src="/views/helps/images/form-radio.png">
                    </li>
                </ul>
                <li><code>text</code></li>
                <ul>
                    <li>
                        <code>input</code>
                        <img onclick="window.open(this.src);" class="img-responsive" src="/views/helps/images/form-input-text.png">
                    </li>
                    <li>
                        <code>textarea</code>
                        <img onclick="window.open(this.src);" class="img-responsive" src="/views/helps/images/form-textarea.png">
                    </li>
                    <li>
                        <code>selectSingle</code>
                        <img onclick="window.open(this.src);" class="img-responsive" src="/views/helps/images/form-select-single.png">
                    </li>
                    <li>
                        <code>radio</code>
                        <img onclick="window.open(this.src);" class="img-responsive" src="/views/helps/images/form-radio.png">
                    </li>
                    <li>
                        <code>typeahead</code>
                        <img onclick="window.open(this.src);" class="img-responsive" src="/views/helps/images/form-typeahead.png">
                    </li>
                </ul>
                <li>
                    <code>array</code>                    
                </li>
                <ul>
                    <li>
                        <code>selectMultiple</code>
                        <img onclick="window.open(this.src);" class="img-responsive" src="/views/helps/images/form-select-multiple.png">
                    </li>
                </ul>
                <li>
                    <code>boolean</code>
                </li>
                <ul>
                    <li>
                        <code>boolean</code>
                        <img onclick="window.open(this.src);" class="img-responsive" src="/views/helps/images/form-boolean.png">
                    </li>
                </ul>
                <li>
                    <code>date</code>
                </li>
                <ul>
                    <li>
                        <code>datePicker</code>
                        <img onclick="window.open(this.src);" class="img-responsive" src="/views/helps/images/form-date-picker.png">
                    </li>
                </ul>
            </ol>
        </div>
    </div>
</div>
<div ng-include="'/views/helps/help-modal-footer.html'"></div>
