<div ng-include="'/views/helps/help-modal-header.html'"></div>
<div class="modal-body dttb-modal-help-body" ng-switch on="version">
    <div ng-switch-default>
        <div>
            <h4><b>Usage</b></h4>
            <p>This option allows you to enable or disable the <code>star *</code> in the title of form field.</p>
            <p>The <code>star *</code> will let users know that this field is required.</p>
            <img onclick="window.open(this.src);" class="img-responsive" src="/views/helps/images/form-config-require-star.png">
            <table class="table">
                <thead>
                    <tr>
                        <th>Value</th>
                        <th>Result</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>
                            <span class="label label-success"><i class="fa fa-check"></i> Yes</span>
                        </td>
                        <td>
                            <span class="label label-success">Enabled</span>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <span class="label label-danger"><i class="fa fa-times"></i> No</span>
                        </td>
                        <td>
                            <span class="label label-danger">Disabled</span>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
<div ng-include="'/views/helps/help-modal-footer.html'"></div>
