<div ng-include="'/views/helps/help-modal-header.html'"></div>
<div class="modal-body dttb-modal-help-body" ng-switch on="version">
    <div ng-switch-default>
        <div>
            <h4><b>Usage</b></h4>
            <table class="table">
                <thead>
                    <tr>
                        <th>Property</th>
                        <th>Explain</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>
                            Call at init
                        </td>
                        <td>
                            If <code>enabled</code>, the request will be called when the table is being initialized.
                        </td>
                    </tr>
                    <tr>
                        <td>
                            Call at each event
                        </td>
                        <td>
                            If <code>enabled</code>, the request will be called when the form field is being triggered. E.g users want to update or create a row.
                            It is useful if you want to load the <code>latest</code> data from server.
                        </td>
                    </tr>
                    <tr>
                        <td>
                            Minimum Interval
                        </td>
                        <td>
                            This is the minimum time <code>ms</code> between the 2 requests. It is useful to reduce the number of requests to your server while still loading the latest data from server.
                        </td>
                    </tr>
                    <tr>
                        <td>
                            Typeahead Key
                        </td>
                        <td>
                            This option is only applicable for the <code>typeahead</code> form field. You should provide here which <code>property</code> from the <code>response object</code> corresponding to the data in this <code>typeahead</code> form field.
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
<div ng-include="'/views/helps/help-modal-footer.html'"></div>
