<div ng-include="'/views/helps/help-modal-header.html'"></div>
<div class="modal-body dttb-modal-help-body" ng-switch on="version">
    <div ng-switch-default>
        <div>
            <h4><b>Usage</b></h4>
            <p>The property from <code>options</code> object to be displayed as label</p>
            <h4><b>Example</b></h4>
            <code>[{"key":"Female","label":"Female"},{"key":"Male","label":"Male"},{"key":"Other","label":"Other"}]</code>
            <p>For the example above, you might choose the property <code>label</code>.</p>
        </div>
    </div>
</div>
<div ng-include="'/views/helps/help-modal-footer.html'"></div>
