<div class="modal-footer">
    <div class="btn-group btn-sm">
        <button type="button" class="btn btn-sm btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Select version <span class="caret"></span>
        </button>
        <ul class="dropdown-menu">
            <li><a href="" ng-click="$parent.version='1.0';">Version 1.0</a></li>
        </ul>
    </div>
    <button class="btn btn-primary btn-sm" type="button" ng-click="$root.dttbBuilderOpenFeedBackForm(feedbackTitle);">
        <i class="fa fa-question-circle"></i>
        <span>Questions</span>
    </button>
</div>
