<div ng-include="'/views/helps/help-modal-header.html'"></div>
<div class="modal-body dttb-modal-help-body" ng-switch on="version">
    <div ng-switch-default>
        <div>
            <h4><b>Usage</b></h4>
            <p>HTTP method could be</p>
            <ul>
                <li><code>GET</code></li>
                <li><code>POST</code></li>
                <li><code>PUT</code></li>
                <li><code>PATCH</code></li>
                <li><code>DELETE</code></li>
                <li>etc.</li>
            </ul>
        </div>
    </div>
</div>
<div ng-include="'/views/helps/help-modal-footer.html'"></div>
