<div ng-include="'/views/helps/help-modal-header.html'"></div>
<div class="modal-body dttb-modal-help-body" ng-switch on="version">
    <div ng-switch-default>
        <div>
            <h4><b>Usage</b></h4>
            <p>Nullam quis risus eget <a target="_blank" href="http://google.com">urna mollis ornare</a> vel eu leo. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Nullam id dolor id nibh ultricies vehicula.</p>
            <img onclick="window.open(this.src);" class="img-responsive" src="http://cdn.macrumors.com/article-new/2015/02/iphone7mockupantennabands-800x659.jpg">
            <p>
                <b><u>Note:</u></b>
            </p>
        </div>
        <div>
            <h4><b>References:</b></h4>
        </div>
    </div>
</div>
<div ng-include="'/views/helps/help-modal-footer.html'"></div>
