<div ng-include="'/views/helps/help-modal-header.html'"></div>
<div class="modal-body dttb-modal-help-body" ng-switch on="version">
    <div ng-switch-default>
        <div>
            <h4><b>Usage</b></h4>
            <p>Because of the <code>updating</code> and <code>deleting</code> action, you might want to specify the resource URL corresponding to each row in the table.</p>
            <p>For example, your API url for updating and deleting a comment is <code>http://api.com/post/POST_ID/comment/COMMENT_ID</code>.</p>
            <ul>
            	<li>That API is for <code>updating</code> and <code>deleting</code> a comment id, for instance 321, of a post id, for instance 21.</li>
            	<li>Each row data in the table is the object of each COMMENT with the properties comment_id and post_id</li>
            	<li>In order to configure the API url for <code>updating</code> and <code>deleting</code> each comment (row) in the table, you just need to fill in the URL option: <code>http://api.com/post/:post_id/comment/:comment_id</code>, and then, enable the route parameters options</li>.
            	<li><code>data-tablar</code> will take the rest of the works. It will match the <code>:post_id</code> and <code>:comment_id</code> and replace them by the value of each row (comment). As the result, you might have the API url for a row could be <code>http://api.com/post/21/comment/321</code></li>
            </ul>
        </div>
    </div>
</div>
<div ng-include="'/views/helps/help-modal-footer.html'"></div>
