<div ng-include="'/views/helps/help-modal-header.html'"></div>
<div class="modal-body dttb-modal-help-body" ng-switch on="version">
    <div ng-switch-default>
        <div>
            <h4><b>Usage</b></h4>
            <p>You can provide some additional <code>data</code> for the request.</p>
            <p>For further informations, please refer to the <a href="https://docs.angularjs.org/api/ng/service/$http#usage">documentation</a> of <code>angularjs</code></p>
        </div>
    </div>
</div>
<div ng-include="'/views/helps/help-modal-footer.html'"></div>
