<div ng-include="'/views/helps/help-modal-header.html'"></div>
<div class="modal-body dttb-modal-help-body" ng-switch on="version">
    <div ng-switch-default>
        <div>
            <h4><b>Usage</b></h4>
            <p>The absolute path to your resource API</p>
            <p>For the case of <code>deleting</code> and <code>updating</code>, you have the option <label builder-form-label="" builder-label-key="enableRouteParams"></label></p>
        </div>
    </div>
</div>
<div ng-include="'/views/helps/help-modal-footer.html'"></div>
