<div class="modal-header">
	<h3 class="modal-title">
    	<span>Feedback for </span>
		<b ng-if="!feedbackTitle.length">data-tablar</b>
		<b ng-if="feedbackTitle.length" title="Copy and paste as feedback title below.">{{::feedbackTitle}}</b>
	</h3>
</div>
<iframe src="https://docs.google.com/forms/d/e/1FAIpQLSdPRwQUD5JrbBd2m5OQv8la7rBzQysY2ryH9jP_OowYwSHvPQ/viewform?embedded=true" width="430" height="500" frameborder="0" marginheight="0" marginwidth="0">Loading...</iframe>