<div ng-include="'/views/helps/help-modal-header.html'"></div>
<div class="modal-body dttb-modal-help-body" ng-switch on="version">
    <div ng-switch-default>
        <div>
            <h4><b>Usage</b></h4>
            <p>If you want to use your own language for the table, you can fill in here the name of your language, for instance <code>Italian</code>, <code>Spanish</code>, etc.</p>
            <p>You need then translate by yourself the file <code>data-tablar/scripts/dictionaries/other.json</code> into your language.</p>
        </div>
    </div>
</div>
<div ng-include="'/views/helps/help-modal-footer.html'"></div>
