<div ng-include="'/views/helps/help-modal-header.html'"></div>
<div class="modal-body dttb-modal-help-body" ng-switch on="version">
    <div ng-switch-default>
        <div>
            <h4><b>Usage</b></h4>
            <p>This option is for setting the number of pages showed up together.</p>
            <table class="table">
                <tbody>
                    <tr>
                        <th>
                            Type
                        </th>
                        <td>
                            <span class="label label-info">number</span>
                        </td>
                    </tr>
                    <tr>
                        <th>
                            Example
                        </th>
                        <td>
                            <code>3</code> for displaying the pages as illustrated below.
                            <img onclick="window.open(this.src);" class="img-responsive" src="/views/helps/images/table-pagination-main.png">
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
<div ng-include="'/views/helps/help-modal-footer.html'"></div>
