<div ng-include="'/views/helps/help-modal-header.html'"></div>
<div class="modal-body dttb-modal-help-body" ng-switch on="version">
    <div ng-switch-default>
    	<div>
    		<h4><b>Usage</b></h4>
    		<p>It will be displayed on the upper-left corner as the panel's title. It will help users to identify the table.</p>
            <b>Examples</b>
            <ul>
                <li>Employees Management</li>
                <li>2016 Sales Resume</li>
                <li>Books Database</li>
                <li>etc.</li>
            </ul>
    		<img 
    			onclick="window.open(this.src);" 
    			class="img-responsive" 
    			src="/views/helps/images/table-label.png">
    	</div>
    	<div>
            <h4>
                <b>Related subjects</b>
            </h4>
 			<ul>
 				<li builder-form-label builder-label-key="builderGeneralConfig"></li>
 				<li builder-form-label builder-label-key="tableLabel"></li>
 			</ul>
    	</div>
    </div>
</div>
<div ng-include="'/views/helps/help-modal-footer.html'"></div>