<div ng-include="'/views/helps/help-modal-header.html'"></div>
<div class="modal-body dttb-modal-help-body" ng-switch on="version">
    <div ng-switch-default>
        <div>
            <h4><b>Usage</b></h4>
            <p>The pagination is composed of 3 components</p>
            <ul>
                <li>
                    The first component is on the bottom-left corner of the table. It shows the number of current displaying rows on the total rows.
                    <img onclick="window.open(this.src);" class="img-responsive" src="/views/helps/images/table-pagination-left.png">
                </li>
                <li>
                    The other two components are on the bottom-right corner of the table. It allows user to got to different page, and select different number of rows on each page.
                    <img onclick="window.open(this.src);" class="img-responsive" src="/views/helps/images/table-pagination-right.png">
                </li>
            </ul>
            <p>You can customize the pagination on the right side of this section.</p>
        </div>
        <div>
            <h4>
                <b>Related subjects</b>
            </h4>
            <ul>
                <li builder-form-label builder-label-key="tablePaginationShowing"></li>
                <li builder-form-label builder-label-key="tablePaginationShowingNumRows"></li>
                <li builder-form-label builder-label-key="tablePaginationShowingNumRowsSelect"></li>
                <li builder-form-label builder-label-key="tablePaginationNumPagesDisplaying"></li>
                <li builder-form-label builder-label-key="tablePaginationNumRowsPerPage"></li>
                <li builder-form-label builder-label-key="tablePaginationNumRowsPerPageOptions"></li>
            </ul>
        </div>
    </div>
</div>
<div ng-include="'/views/helps/help-modal-footer.html'"></div>
