<div ng-include="'/views/helps/help-modal-header.html'"></div>
<div class="modal-body dttb-modal-help-body" ng-switch on="version">
    <div ng-switch-default>
        <div>
            <h4><b>Usage</b></h4>
            <p>This option allows you to enable or disable <code>Hide / Show Columns</code> button on the navigation.</p>
            <p>If you enable this button, users will see the drop-down menu of columns whenever they click on this button. From that, users can select which column to be showed or hidden, including the <code>checkbox</code> column and the <code>Actions</code> column.</p>
            <p>The last option - <code>Restore</code> allows showing all the columns.</p>
            <img onclick="window.open(this.src);" class="img-responsive" src="/views/helps/images/table-dropdown-hide-show.png">
            <table class="table">
                <thead>
                    <tr>
                        <th>Value</th>
                        <th>Result</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>
                            <span class="label label-success"><i class="fa fa-check"></i> Yes</span>
                        </td>
                        <td>
                            <span class="label label-success">Enabled</span>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <span class="label label-danger"><i class="fa fa-times"></i> No</span>
                        </td>
                        <td>
                            <span class="label label-danger">Disabled</span>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
<div ng-include="'/views/helps/help-modal-footer.html'"></div>