<div ng-include="'/views/helps/help-modal-header.html'"></div>
<div class="modal-body dttb-modal-help-body" ng-switch on="version">
    <div ng-switch-default>
        <div>
            <h4><b>Usage</b></h4>
            <p>This option allows you to enable or disable the button <code>Refresh</code> on the navigation.</p>
            <p>If users click on the <code>Refresh</code> button, <code>data-tablar</code> will fetch for the latest data from the remote server.</p>
            <table class="table">
                <thead>
                    <tr>
                        <th>Value</th>
                        <th>Result</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>
                            <span class="label label-success"><i class="fa fa-check"></i> Yes</span>
                        </td>
                        <td>
                            <span class="label label-success">Enabled</span>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <span class="label label-danger"><i class="fa fa-times"></i> No</span>
                        </td>
                        <td>
                            <span class="label label-danger">Disabled</span>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
<div ng-include="'/views/helps/help-modal-footer.html'"></div>