<div ng-include="'/views/helps/help-modal-header.html'"></div>
<div class="modal-body dttb-modal-help-body" ng-switch on="version">
    <div ng-switch-default>
        <div>
            <h4><b>Usage</b></h4>
            <p>You need to provide options of number of rows per page, so users can select for displaying the table.</p>
            <table class="table">
                <tbody>
                    <tr>
                        <th>
                            Type
                        </th>
                        <td>
                            <span class="label label-info">string</span>
                            delimited by comma.
                        </td>
                    </tr>
                    <tr>
                        <th>
                            Example
                        </th>
                        <td>
                            <code>10,20,30,40,50</code>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
<div ng-include="'/views/helps/help-modal-footer.html'"></div>
