<div ng-include="'/views/helps/help-modal-header.html'"></div>
<div class="modal-body dttb-modal-help-body" ng-switch on="version">
    <div ng-switch-default>
        <div>
            <h4><b>Usage</b></h4>
            <p>This option allows you to enable or disable the button <code>Sort Local</code> on the navigation.</p>
            <p>When users click on this button (if enabled), the panel will display on the left side of the table. This panel allows users to sort locally the data by a column without requesting to server.</p>
            <p>An example below shows the ascendant sorting by POST ID. Users can reset all the sorting by clicking on the button <code>Reset</code> at the bottom.</p>
            <img onclick="window.open(this.src);" class="img-responsive" src="/views/helps/images/table-panel-sort.png">
            <table class="table">
                <thead>
                    <tr>
                        <th>Value</th>
                        <th>Result</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>
                            <span class="label label-success"><i class="fa fa-check"></i> Yes</span>
                        </td>
                        <td>
                            <span class="label label-success">Enabled</span>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <span class="label label-danger"><i class="fa fa-times"></i> No</span>
                        </td>
                        <td>
                            <span class="label label-danger">Disabled</span>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
<div ng-include="'/views/helps/help-modal-footer.html'"></div>