<div ng-include="'/views/helps/help-modal-header.html'"></div>
<div class="modal-body dttb-modal-help-body" ng-switch on="version">
    <div ng-switch-default>
        <div>
            <h4><b>Usage</b></h4>
            <p>This option allows you to enable or disable the button <code>Arrange Column's Positions</code> on the navigation.</p>
            <p>If users click on this button (if enabled), the panel will show up on the left side of the table. From that, users can drag and drop columns to organize the view of table as they want.</p>
            <p>For example, if users want to see the <code>POST AUTHOR</code> as the reference for the whole table, they can easily drag then drop the <code>POST AUTHOR</code> over the <code>POST ID</code>. By doing so, the <code>POST AUTHOR</code> will then be the first column in the table.</p>
            <p>This function is <code>helpful</code> if there are so many columns in a table, that causes the over-flow width.</p>
            <img onclick="window.open(this.src);" class="img-responsive" src="/views/helps/images/table-panel-arrange.png">
            <table class="table">
                <thead>
                    <tr>
                        <th>Value</th>
                        <th>Result</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>
                            <span class="label label-success"><i class="fa fa-check"></i> Yes</span>
                        </td>
                        <td>
                            <span class="label label-success">Enabled</span>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <span class="label label-danger"><i class="fa fa-times"></i> No</span>
                        </td>
                        <td>
                            <span class="label label-danger">Disabled</span>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
<div ng-include="'/views/helps/help-modal-footer.html'"></div>