<div ng-include="'/views/helps/help-modal-header.html'"></div>
<div class="modal-body dttb-modal-help-body" ng-switch on="version">
    <div ng-switch-default>
        <div>
            <h4><b>Usage</b></h4>
            <p>If we want to display more than one table on a page, it is obvious that we need each table has its own ID. So the table unique id is the unique string that help <code>data-tablar</code> module identify the table. </p>
            <p>With this id, <code>data-tablar</code> module can know which table is requesting for data from remote server, for instance.</p>
            <p>This unique id will also be used to generate the unique CSS id of table and its row for the purpose of animation.</p>
            <b>Examples</b>
            <ul>
                <li>db-sales-2016</li>
                <li>db-sales-2015</li>
                <li>db-sales-2014</li>
                <li>etc.</li>
            </ul>
        </div>
    </div>
</div>
<div ng-include="'/views/helps/help-modal-footer.html'"></div>
