<div ng-include="'/views/helps/help-modal-header.html'"></div>
<div class="modal-body dttb-modal-help-body" ng-switch on="version">
    <div ng-switch-default>
        <div>
            <h4><b>Usage</b></h4>
            <p>There are 11 buttons on the navigation of <code>data-tablar</code> module. The table below describes the functionality of each button.</p>
            <p>On the right side, you can select which button will be displayed on the navigation.</p>
            <table class="table">
                <thead>
                    <tr>
                        <th>Button</th>
                        <th width="40%">Image</th>
                        <th>Function</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>New Row</td>
                        <td><img onclick="window.open(this.src);" class="img-responsive" src="/views/helps/images/table-navigation-btn-new.png"></td>
                        <td>Open dialog modal for creating new row</td>
                    </tr>
                    <tr>
                        <td>Filter</td>
                        <td><img onclick="window.open(this.src);" class="img-responsive" src="/views/helps/images/table-navigation-btn-filter.png"></td>
                        <td>Open dialog for filtering data on the left side of table.</td>
                    </tr>
                    <tr>
                        <td>Highlight</td>
                        <td><img onclick="window.open(this.src);" class="img-responsive" src="/views/helps/images/table-navigation-btn-highlight.png"></td>
                        <td>Open dialog for highlighting special cells on the left side of table.</td>
                    </tr>
                    <tr>
                        <td>Arrange columns</td>
                        <td><img onclick="window.open(this.src);" class="img-responsive" src="/views/helps/images/table-navigation-btn-arrange.png"></td>
                        <td>Open dialog for re-arranging (drag-n-drop) the position of columns on the left side of table.</td>
                    </tr>
                    <tr>
                        <td>Sort local</td>
                        <td><img onclick="window.open(this.src);" class="img-responsive" src="/views/helps/images/table-navigation-btn-sort.png"></td>
                        <td>Open dialog for sorting locally (without requesting to server) data on the left side of table.</td>
                    </tr>
                    <tr>
                        <td>Hide / Show Columns</td>
                        <td><img onclick="window.open(this.src);" class="img-responsive" src="/views/helps/images/table-navigation-btn-hide-show.png"></td>
                        <td>Open the drop-down menu for choosing hide/show each column.</td>
                    </tr>
                    <tr>
                        <td>Language</td>
                        <td><img onclick="window.open(this.src);" class="img-responsive" src="/views/helps/images/table-navigation-btn-language.png"></td>
                        <td>Open the drop-down menu for changing language.</td>
                    </tr>
                    <tr>
                        <td>Export</td>
                        <td><img onclick="window.open(this.src);" class="img-responsive" src="/views/helps/images/table-navigation-btn-export.png"></td>
                        <td>Open dialog modal for exporting table as CSV format.</td>
                    </tr>
                    <tr>
                        <td>Print</td>
                        <td><img onclick="window.open(this.src);" class="img-responsive" src="/views/helps/images/table-navigation-btn-print.png"></td>
                        <td>Open dialog modal for creating new row</td>
                    </tr>
                    <tr>
                        <td>Refresh</td>
                        <td><img onclick="window.open(this.src);" class="img-responsive" src="/views/helps/images/table-navigation-btn-refresh.png"></td>
                        <td>It will trigger the refresh of table.</td>
                    </tr>
                    <tr>
                        <td>Share</td>
                        <td><img onclick="window.open(this.src);" class="img-responsive" src="/views/helps/images/table-navigation-btn-share.png"></td>
                        <td>It will generate the share url for table, then open dialog modal.</td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div>
            <h4>
                <b>Note</b>
            </h4>
            <p>The <code>New Row</code> button depends on the configuration of <code>Creating</code> action. It will be displayed if the <code>Creating</code> action is configured</p>
            <p>The <code>Filter</code> button depends on the configuration of filters in reading action. It will be displayed if the <code>Filters</code> are configured</p>
        </div>
        <div>
            <h4>
                <b>Related subjects</b>
            </h4>
            <ul>
                <li builder-form-label builder-label-key="tableNavigationHighlight"></li>
                <li builder-form-label builder-label-key="tableNavigationArrange"></li>
                <li builder-form-label builder-label-key="tableNavigationLocalSort"></li>
                <li builder-form-label builder-label-key="tableNavigationHideShow"></li>
                <li builder-form-label builder-label-key="tableNavigationLanguage"></li>
                <li builder-form-label builder-label-key="tableNavigationExport"></li>
                <li builder-form-label builder-label-key="tableNavigationPrint"></li>
                <li builder-form-label builder-label-key="tableNavigationRefresh"></li>
                <li builder-form-label builder-label-key="tableNavigationShare"></li>
            </ul>
        </div>
    </div>
</div>
<div ng-include="'/views/helps/help-modal-footer.html'"></div>
