<div ng-include="'/views/helps/help-modal-header.html'"></div>
<div class="modal-body dttb-modal-help-body" ng-switch on="version">
    <div ng-switch-default>
        <div>
            <h4><b>Usage</b></h4>
            <p>This option is for setting default number of rows per page.</p>
            <table class="table">
                <tbody>
                    <tr>
                        <th>
                            Type
                        </th>
                        <td>
                            <span class="label label-info">number</span>
                        </td>
                    </tr>
                    <tr>
                        <th>
                            Example
                        </th>
                        <td>
                            <code>10</code> for displaying 10 rows per page as default.
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
<div ng-include="'/views/helps/help-modal-footer.html'"></div>
