<h1><code ng:non-bindable="">helperService</code>
<div><span class="hint">service in module <code ng:non-bindable="">builderApp</code>
</span>
</div>
</h1>
<div><h2 id="description">Description</h2>
<div class="description"><div class="builderapp-service-page builderapp-service-helperservice-page"><p>Service provides useful helper functions.</p>
</div></div>
<h2 id="dependencies">Dependencies</h2>
<ul class="dependencies"><li><code ng:non-bindable=""><a href="#/api/ngDialog">ngDialog</a></code>
</li>
<li><code ng:non-bindable=""><a href="#/api/DTTB_BUILDER_PARAMETERS">DTTB_BUILDER_PARAMETERS</a></code>
</li>
</ul>
<div class="member method"><h2 id="methods">Methods</h2>
<ul class="methods"><li><h3 id="methods_addbasicobjecttoarray">addBasicObjectToArray(arrayReference)</h3>
<div class="addbasicobjecttoarray"><div class="addbasicobjecttoarray-page"><p>Add a pair (key, value) to array</p>
</div><h5 id="methods_addbasicobjecttoarray_parameters">Parameters</h5><table class="variables-matrix table table-bordered table-striped"><thead><tr><th>Param</th><th>Type</th><th>Details</th></tr></thead><tbody><tr><td>arrayReference</td><td><a href="" class="label type-hint type-hint-array">array</a></td><td><div class="addbasicobjecttoarray-page"><p>Reference of array.</p>
</div></td></tr></tbody></table></div>
</li>
<li><h3 id="methods_addtoarray">addToArray(arrayReference, valueToAdd)</h3>
<div class="addtoarray"><div class="addtoarray-page"><p>Add value to array.</p>
</div><h5 id="methods_addtoarray_parameters">Parameters</h5><table class="variables-matrix table table-bordered table-striped"><thead><tr><th>Param</th><th>Type</th><th>Details</th></tr></thead><tbody><tr><td>arrayReference</td><td><a href="" class="label type-hint type-hint-array">array</a></td><td><div class="addtoarray-page"><p>Array reference to be added.</p>
</div></td></tr><tr><td>valueToAdd</td><td><a href="" class="label type-hint type-hint-any">any</a></td><td><div class="addtoarray-page"><p>Value to add.</p>
</div></td></tr></tbody></table></div>
</li>
<li><h3 id="methods_addtoarraywithtemplate">addToArrayWithTemplate(arrayReference, templateKey)</h3>
<div class="addtoarraywithtemplate"><div class="addtoarraywithtemplate-page"><p>Add a model template to array.</p>
</div><h5 id="methods_addtoarraywithtemplate_parameters">Parameters</h5><table class="variables-matrix table table-bordered table-striped"><thead><tr><th>Param</th><th>Type</th><th>Details</th></tr></thead><tbody><tr><td>arrayReference</td><td><a href="" class="label type-hint type-hint-array">array</a></td><td><div class="addtoarraywithtemplate-page"><p>Array reference to be added.</p>
</div></td></tr><tr><td>templateKey</td><td><a href="" class="label type-hint type-hint-string">string</a></td><td><div class="addtoarraywithtemplate-page"><p>Template key</p>
</div></td></tr></tbody></table></div>
</li>
<li><h3 id="methods_addtoobject">addToObject(objectReference, propertyName, valueToAdd)</h3>
<div class="addtoobject"><div class="addtoobject-page"><p>Add new property to object.</p>
</div><h5 id="methods_addtoobject_parameters">Parameters</h5><table class="variables-matrix table table-bordered table-striped"><thead><tr><th>Param</th><th>Type</th><th>Details</th></tr></thead><tbody><tr><td>objectReference</td><td><a href="" class="label type-hint type-hint-object">object</a></td><td><div class="addtoobject-page"><p>Object</p>
</div></td></tr><tr><td>propertyName</td><td><a href="" class="label type-hint type-hint-string">string</a></td><td><div class="addtoobject-page"><p>Propery Name</p>
</div></td></tr><tr><td>valueToAdd</td><td><a href="" class="label type-hint type-hint-any">any</a></td><td><div class="addtoobject-page"><p>Property Value</p>
</div></td></tr></tbody></table></div>
</li>
<li><h3 id="methods_convertarraytoobject">convertArrayToObject(array)</h3>
<div class="convertarraytoobject"><div class="convertarraytoobject-page"><p>Convert array of (key, value) pairs to object</p>
</div><h5 id="methods_convertarraytoobject_parameters">Parameters</h5><table class="variables-matrix table table-bordered table-striped"><thead><tr><th>Param</th><th>Type</th><th>Details</th></tr></thead><tbody><tr><td>array</td><td><a href="" class="label type-hint type-hint-array">array</a></td><td><div class="convertarraytoobject-page"><p>Array to be converted.</p>
</div></td></tr></tbody></table><h5 id="methods_convertarraytoobject_returns">Returns</h5><table class="variables-matrix"><tr><td><a href="" class="label type-hint type-hint-object">object</a></td><td><div class="convertarraytoobject-page"><p>Object result</p>
</div></td></tr></table></div>
</li>
<li><h3 id="methods_convertobjecttoarray">convertObjectToArray(object)</h3>
<div class="convertobjecttoarray"><div class="convertobjecttoarray-page"><p>Convert an object to array of (key, value) pairs.</p>
</div><h5 id="methods_convertobjecttoarray_parameters">Parameters</h5><table class="variables-matrix table table-bordered table-striped"><thead><tr><th>Param</th><th>Type</th><th>Details</th></tr></thead><tbody><tr><td>object</td><td><a href="" class="label type-hint type-hint-object">object</a></td><td><div class="convertobjecttoarray-page"><p>Object to be converted</p>
</div></td></tr></tbody></table><h5 id="methods_convertobjecttoarray_returns">Returns</h5><table class="variables-matrix"><tr><td><a href="" class="label type-hint type-hint-array">array</a></td><td><div class="convertobjecttoarray-page"><p>Array result</p>
</div></td></tr></table></div>
</li>
<li><h3 id="methods_decode">decode(obj)</h3>
<div class="decode"><div class="decode-page"><p>Decode a configuration object to make it adapt to the builder.
Change conversionResponse -&gt; conversionResponseBody. 
Change conversionRequest -&gt; conversionRequestBody.
Convert object to array: data; params; headers.
Handle for options.
Handle for numRowsPerPageOptions.</p>
<p>This is a recursive function.</p>
</div><h5 id="methods_decode_parameters">Parameters</h5><table class="variables-matrix table table-bordered table-striped"><thead><tr><th>Param</th><th>Type</th><th>Details</th></tr></thead><tbody><tr><td>obj</td><td><a href="" class="label type-hint type-hint-object">object</a></td><td><div class="decode-page"><p>Object to be decoded.</p>
</div></td></tr></tbody></table></div>
</li>
<li><h3 id="methods_encode">encode(obj)</h3>
<div class="encode"><div class="encode-page"><p>Encode the model of builder to 
make a javascript object configuration
and adapt to the data-tablar module.</p>
</div><h5 id="methods_encode_parameters">Parameters</h5><table class="variables-matrix table table-bordered table-striped"><thead><tr><th>Param</th><th>Type</th><th>Details</th></tr></thead><tbody><tr><td>obj</td><td><a href="" class="label type-hint type-hint-object">object</a></td><td><div class="encode-page"><p>object to be encoded.</p>
</div></td></tr></tbody></table></div>
</li>
<li><h3 id="methods_escapequotestring">escapeQuoteString(str)</h3>
<div class="escapequotestring"><div class="escapequotestring-page"><p>Escape quote of string</p>
</div><h5 id="methods_escapequotestring_parameters">Parameters</h5><table class="variables-matrix table table-bordered table-striped"><thead><tr><th>Param</th><th>Type</th><th>Details</th></tr></thead><tbody><tr><td>str</td><td><a href="" class="label type-hint type-hint-text">text</a></td><td><div class="escapequotestring-page"><p>String to be escaped</p>
</div></td></tr></tbody></table><h5 id="methods_escapequotestring_returns">Returns</h5><table class="variables-matrix"><tr><td><a href="" class="label type-hint type-hint-string">string</a></td><td><div class="escapequotestring-page"><p>Escaped string</p>
</div></td></tr></table></div>
</li>
<li><h3 id="methods_generateiteration">generateIteration(list, generatedCodes, level, asArray)</h3>
<div class="generateiteration"><div class="generateiteration-page"><ul>
<li>Remove from object some dttbBuilder property: toggleOffPlaceholder, dttbBuilderActive.</li>
<li>Generate javascript source code from dttbModel object.</li>
<li>Handle for array, object, number, string and boolean.</li>
</ul>
</div><h5 id="methods_generateiteration_parameters">Parameters</h5><table class="variables-matrix table table-bordered table-striped"><thead><tr><th>Param</th><th>Type</th><th>Details</th></tr></thead><tbody><tr><td>list</td><td><a href="" class="label type-hint type-hint-object">object</a></td><td><div class="generateiteration-page"><p>list</p>
</div></td></tr><tr><td>generatedCodes</td><td><a href="" class="label type-hint type-hint-string">string</a></td><td><div class="generateiteration-page"><p>generatedCodes</p>
</div></td></tr><tr><td>level</td><td><a href="" class="label type-hint type-hint-number">number</a></td><td><div class="generateiteration-page"><p>level</p>
</div></td></tr><tr><td>asArray</td><td><a href="" class="label type-hint type-hint-boolean">boolean</a></td><td><div class="generateiteration-page"><p>asArray</p>
</div></td></tr></tbody></table><h5 id="methods_generateiteration_returns">Returns</h5><table class="variables-matrix"><tr><td><a href="" class="label type-hint type-hint-string">string</a></td><td><div class="generateiteration-page"><p>generatedCodes</p>
</div></td></tr></table></div>
</li>
<li><h3 id="methods_generatetabs">generateTabs(dttbMenuLevel)</h3>
<div class="generatetabs"><div class="generatetabs-page"><p>Helper function for dttbBuilderMenu directive</p>
</div><h5 id="methods_generatetabs_parameters">Parameters</h5><table class="variables-matrix table table-bordered table-striped"><thead><tr><th>Param</th><th>Type</th><th>Details</th></tr></thead><tbody><tr><td>dttbMenuLevel</td><td><a href="" class="label type-hint type-hint-number">number</a></td><td><div class="generatetabs-page"><p>Level of menu</p>
</div></td></tr></tbody></table><h5 id="methods_generatetabs_returns">Returns</h5><table class="variables-matrix"><tr><td><a href="" class="label type-hint type-hint-string">string</a></td><td><div class="generatetabs-page"><p>tab string.</p>
</div></td></tr></table></div>
</li>
<li><h3 id="methods_getvartype">getVarType(obj)</h3>
<div class="getvartype"><div class="getvartype-page"><p>Get type of variable</p>
</div><h5 id="methods_getvartype_parameters">Parameters</h5><table class="variables-matrix table table-bordered table-striped"><thead><tr><th>Param</th><th>Type</th><th>Details</th></tr></thead><tbody><tr><td>obj</td><td><a href="" class="label type-hint type-hint-var">var</a></td><td><div class="getvartype-page"><p>variable whose type will be defined</p>
</div></td></tr></tbody></table><h5 id="methods_getvartype_returns">Returns</h5><table class="variables-matrix"><tr><td><a href="" class="label type-hint type-hint-string">string</a></td><td><div class="getvartype-page"><p>type of variable</p>
</div></td></tr></table></div>
</li>
<li><h3 id="methods_parsehosturl">parseHostUrl(urlString)</h3>
<div class="parsehosturl"><div class="parsehosturl-page"><p>Get the host and path of a url</p>
</div><h5 id="methods_parsehosturl_parameters">Parameters</h5><table class="variables-matrix table table-bordered table-striped"><thead><tr><th>Param</th><th>Type</th><th>Details</th></tr></thead><tbody><tr><td>urlString</td><td><a href="" class="label type-hint type-hint-string">string</a></td><td><div class="parsehosturl-page"><p>Url to be parsed.</p>
</div></td></tr></tbody></table><h5 id="methods_parsehosturl_returns">Returns</h5><table class="variables-matrix"><tr><td><a href="" class="label type-hint type-hint-string">string</a></td><td><div class="parsehosturl-page"><p>The host of that url</p>
</div></td></tr></table></div>
</li>
<li><h3 id="methods_postdecode">postDecode(reference)</h3>
<div class="postdecode"><div class="postdecode-page"><p>Post-processing for decoding dttbModel.
Extend default template for each property of dttbModel.</p>
</div><h5 id="methods_postdecode_parameters">Parameters</h5><table class="variables-matrix table table-bordered table-striped"><thead><tr><th>Param</th><th>Type</th><th>Details</th></tr></thead><tbody><tr><td>reference</td><td><a href="" class="label type-hint type-hint-object">object</a></td><td><div class="postdecode-page"><p>of dttbModel model of builder after decoding</p>
</div></td></tr></tbody></table></div>
</li>
<li><h3 id="methods_removefromarray">removeFromArray(arrayReference, indexToRemove)</h3>
<div class="removefromarray"><h5 id="methods_removefromarray_parameters">Parameters</h5><table class="variables-matrix table table-bordered table-striped"><thead><tr><th>Param</th><th>Type</th><th>Details</th></tr></thead><tbody><tr><td>arrayReference</td><td><a href="" class="label type-hint type-hint-array">array</a></td><td><div class="removefromarray-page"><p>Array reference.</p>
</div></td></tr><tr><td>indexToRemove</td><td><a href="" class="label type-hint type-hint-number">number</a></td><td><div class="removefromarray-page"><p>Position to be removed.</p>
</div></td></tr></tbody></table></div>
</li>
<li><h3 id="methods_removefromobject">removeFromObject(objectReference, propertyToRemove)</h3>
<div class="removefromobject"><div class="removefromobject-page"><p>Delete property of object</p>
</div><h5 id="methods_removefromobject_parameters">Parameters</h5><table class="variables-matrix table table-bordered table-striped"><thead><tr><th>Param</th><th>Type</th><th>Details</th></tr></thead><tbody><tr><td>objectReference</td><td><a href="" class="label type-hint type-hint-object">object</a></td><td><div class="removefromobject-page"><p>Object reference.</p>
</div></td></tr><tr><td>propertyToRemove</td><td><a href="" class="label type-hint type-hint-string">string</a></td><td><div class="removefromobject-page"><p>Property to be removed.</p>
</div></td></tr></tbody></table></div>
</li>
</ul>
</div>
</div>
