<h1><code ng:non-bindable="">builderFormYesNoController</code>
<div><span class="hint">controller in module <code ng:non-bindable="">builderApp</code>
</span>
</div>
</h1>
<div><h2 id="description">Description</h2>
<div class="description"><div class="builderapp-controller-page builderapp-controller-builderformyesnocontroller-page"><h3 id="description_builderformyesno">builderFormYesNo</h3>
<p>Controller of directive builderFormYesNo</p>
</div></div>
</div>
