<h1><code ng:non-bindable="">builderConvertToNumber</code>
<div><span class="hint">directive in module <code ng:non-bindable="">builderApp</code>
</span>
</div>
</h1>
<div><h2 id="description">Description</h2>
<div class="description"><div class="builderapp-directive-page builderapp-directive-builderconverttonumber-page"><p>Convert ng-model from string to number. For example in select form element.</p>
</div></div>
<h2 id="usage">Usage</h2>
<div class="usage">as attribute<pre class="prettyprint linenums">&lt;ANY builder-convert-to-number&gt;
   ...
&lt;/ANY&gt;</pre>
</div>
</div>
