<h1><code ng:non-bindable="">builderToggleVarController</code>
<div><span class="hint">controller in module <code ng:non-bindable="">builderApp</code>
</span>
</div>
</h1>
<div><h2 id="description">Description</h2>
<div class="description"><div class="builderapp-controller-page builderapp-controller-buildertogglevarcontroller-page"><h3 id="description_buildertogglevar">builderToggleVar</h3>
<p>Controller of directive builderToggleVar</p>
</div></div>
<h2 id="dependencies">Dependencies</h2>
<ul class="dependencies"><li><code ng:non-bindable=""><a href="#/api/ng.$scope">$scope</a></code>
</li>
<li><code ng:non-bindable=""><a href="#/api/builderApp.service:helperService">helperService</a></code>
</li>
<li><code ng:non-bindable=""><a href="#/api/ngDialog">ngDialog</a></code>
</li>
<li><code ng:non-bindable=""><a href="#/api/ng.$rootScope">$rootScope</a></code>
</li>
</ul>
<div class="member method"><h2 id="methods">Methods</h2>
<ul class="methods"><li><h3 id="methods_toggle">toggle()</h3>
<div class="toggle"><div class="toggle-page"><p>Main method of builderApp.controller:builderToggleVarController
enable/disable a variable.</p>
</div></div>
</li>
</ul>
</div>
</div>
