<h1><code ng:non-bindable="">builderModalHelperController</code>
<div><span class="hint">controller in module <code ng:non-bindable="">builderApp</code>
</span>
</div>
</h1>
<div><h2 id="description">Description</h2>
<div class="description"><div class="builderapp-controller-page builderapp-controller-buildermodalhelpercontroller-page"><h3 id="description_buildermodalhelper">builderModalHelper</h3>
<p>Controller of directive builderModalHelper</p>
</div></div>
<h2 id="dependencies">Dependencies</h2>
<ul class="dependencies"><li><code ng:non-bindable=""><a href="#/api/ng.$scope">$scope</a></code>
</li>
<li><code ng:non-bindable=""><a href="#/api/ng.$rootScope">$rootScope</a></code>
</li>
<li><code ng:non-bindable=""><a href="#/api/ngDialog">ngDialog</a></code>
</li>
<li><code ng:non-bindable=""><a href="#/api/DTTB_BUILDER_LABELS">DTTB_BUILDER_LABELS</a></code>
</li>
</ul>
<div class="member method"><h2 id="methods">Methods</h2>
<ul class="methods"><li><h3 id="methods_displayhelp">displayHelp()</h3>
<div class="displayhelp"><div class="displayhelp-page"><p>Main method of builderModalHelperController.
Display a dialog help.</p>
</div></div>
</li>
</ul>
</div>
</div>
