<h1><code ng:non-bindable="">BuilderController</code>
<div><span class="hint">controller in module <code ng:non-bindable="">builderApp</code>
</span>
</div>
</h1>
<div><h2 id="description">Description</h2>
<div class="description"><div class="builderapp-controller-page builderapp-controller-buildercontroller-page"><h3 id="description_buildercontroller">BuilderController</h3>
<p>Controller of the builderApp</p>
</div></div>
<h2 id="dependencies">Dependencies</h2>
<ul class="dependencies"><li><code ng:non-bindable=""><a href="#/api/ngDialog">ngDialog</a></code>
</li>
<li><code ng:non-bindable=""><a href="#/api/Notification">Notification</a></code>
</li>
<li><code ng:non-bindable=""><a href="#/api/ng.$http">$http</a></code>
</li>
<li><code ng:non-bindable=""><a href="#/api/ng.$window">$window</a></code>
</li>
<li><code ng:non-bindable=""><a href="#/api/builderApp.service:helperService">helperService</a></code>
</li>
<li><code ng:non-bindable=""><a href="#/api/localStorageService">localStorageService</a></code>
</li>
<li><code ng:non-bindable=""><a href="#/api/ng.$scope">$scope</a></code>
</li>
<li><code ng:non-bindable=""><a href="#/api/ng.$rootScope">$rootScope</a></code>
</li>
<li><code ng:non-bindable=""><a href="#/api/DTTB_BUILDER_MENU">DTTB_BUILDER_MENU</a></code>
</li>
</ul>
<div class="member method"><h2 id="methods">Methods</h2>
<ul class="methods"><li><h3 id="methods_applymodel">applyModel()</h3>
<div class="applymodel"><div class="applymodel-page"><p>Method to apply a configuration to current dttbModel.</p>
</div></div>
</li>
<li><h3 id="methods_gotopage">goToPage(pageKey)</h3>
<div class="gotopage"><div class="gotopage-page"><p>Method to navigate / switch between each page of the left panel navigation.</p>
</div><h5 id="methods_gotopage_parameters">Parameters</h5><table class="variables-matrix table table-bordered table-striped"><thead><tr><th>Param</th><th>Type</th><th>Details</th></tr></thead><tbody><tr><td>pageKey</td><td><a href="" class="label type-hint type-hint-string">string</a></td><td><div class="gotopage-page"><p>The key for each menu/page.</p>
</div></td></tr></tbody></table></div>
</li>
<li><h3 id="methods_init">init()</h3>
<div class="init"><div class="init-page"><p>The initial method will be called to activate the firt menu/page.</p>
</div></div>
</li>
<li><h3 id="methods_initcreatingfieldfromcolumn">initCreatingFieldFromColumn(field, columnIndex)</h3>
<div class="initcreatingfieldfromcolumn"><div class="initcreatingfieldfromcolumn-page"><p>Apply some essential properties of a column to creating field.</p>
</div><h5 id="methods_initcreatingfieldfromcolumn_parameters">Parameters</h5><table class="variables-matrix table table-bordered table-striped"><thead><tr><th>Param</th><th>Type</th><th>Details</th></tr></thead><tbody><tr><td>field</td><td><a href="" class="label type-hint type-hint-object">object</a></td><td><div class="initcreatingfieldfromcolumn-page"><p>The current creating field.</p>
</div></td></tr><tr><td>columnIndex</td><td><a href="" class="label type-hint type-hint-number">number</a></td><td><div class="initcreatingfieldfromcolumn-page"><p>Index of column to copy</p>
</div></td></tr></tbody></table></div>
</li>
<li><h3 id="methods_initreadingfilterfromcolumn">initReadingFilterFromColumn(filter, columnIndex)</h3>
<div class="initreadingfilterfromcolumn"><div class="initreadingfilterfromcolumn-page"><p>Apply some essential properties of a column to reading filter.</p>
</div><h5 id="methods_initreadingfilterfromcolumn_parameters">Parameters</h5><table class="variables-matrix table table-bordered table-striped"><thead><tr><th>Param</th><th>Type</th><th>Details</th></tr></thead><tbody><tr><td>filter</td><td><a href="" class="label type-hint type-hint-object">object</a></td><td><div class="initreadingfilterfromcolumn-page"><p>The current reading filter.</p>
</div></td></tr><tr><td>columnIndex</td><td><a href="" class="label type-hint type-hint-number">number</a></td><td><div class="initreadingfilterfromcolumn-page"><p>Index of column to copy</p>
</div></td></tr></tbody></table></div>
</li>
<li><h3 id="methods_previewcodes">previewCodes()</h3>
<div class="previewcodes"><div class="previewcodes-page"><p>Method to show the preview source-code configuration.
It will process the encoding of all components of builder 
and produce the javascript object type of source-code configuration.</p>
<p>The result will display inside a code editor. User can then copy
and use it.</p>
<p>Menu 5 - Preview</p>
</div></div>
</li>
<li><h3 id="methods_previewresult">previewResult()</h3>
<div class="previewresult"><div class="previewresult-page"><p>Method to show the data-tablar result demo.
It will encode the builder&#39;s configuration and
then call the data-tablar module to display
the data-tablar table.</p>
<p>Menu 6 - Results</p>
</div></div>
</li>
<li><h3 id="methods_reopenrecent">reOpenRecent()</h3>
<div class="reopenrecent"><div class="reopenrecent-page"><p>Method to load the configurations, which are currently stored in
the local storage of brower. There are 10 recent configurations.
A dialog will be displayed and let user to select or delete
a specific configuration.</p>
</div></div>
</li>
<li><h3 id="methods_saveconfiguration">saveConfiguration()</h3>
<div class="saveconfiguration"><div class="saveconfiguration-page"><p>Method to save the current configuration to local storage of browser.
This configuration can be loaded and re-used later if user wishes to do so.</p>
</div></div>
</li>
<li><h3 id="methods_uploadcode">uploadCode()</h3>
<div class="uploadcode"><div class="uploadcode-page"><p>Method allows user to upload a source-code configuration.
A code editor will appear so user can easily paste an old 
configuration into it. 
The source-code will then be decoded and adapted to builder.
Therefore, user can easily to use builder to modify that configuration.</p>
</div></div>
</li>
</ul>
</div>
<div class="member property"><h2 id="properties">Properties</h2>
<ul class="properties"><li><h3 id="properties_builder">builder</h3>
<div class="builder"><div class="builderapp-controller-buildercontroller-builder-page"><p>A named variable for the <code>this</code> keyword representing the ViewModel</p>
</div></div>
</li>
</ul>
</div>
</div>
