<h1><code ng:non-bindable="">builderFormYesNo</code>
<div><span class="hint">directive in module <code ng:non-bindable="">builderApp</code>
</span>
</div>
</h1>
<div><h2 id="description">Description</h2>
<div class="description"><div class="builderapp-directive-page builderapp-directive-builderformyesno-page"><p>Display a yes-no toggle button for boolean variable..</p>
</div></div>
<h2 id="usage">Usage</h2>
<div class="usage">as attribute<pre class="prettyprint linenums">&lt;ANY builder-form-yes-no
     builder-form-model="{boolean}"&gt;
   ...
&lt;/ANY&gt;</pre>
<h3 id="usage_directive-info">Directive info</h3>
<div class="directive-info"><ul><li>This directive creates new scope.</li>
</ul>
</div>
<h4 id="usage_directive-info_parameters">Parameters</h4><table class="variables-matrix table table-bordered table-striped"><thead><tr><th>Param</th><th>Type</th><th>Details</th></tr></thead><tbody><tr><td>builderFormModel</td><td><a href="" class="label type-hint type-hint-boolean">boolean</a></td><td><div class="builderapp-directive-page builderapp-directive-builderformyesno-page"><p>Binding - required - &#39;=builderFormModel&#39;.
Model for this form element.</p>
</div></td></tr></tbody></table></div>
</div>
