<h1><code ng:non-bindable="">builderShowOptionAjaxRequests</code>
<div><span class="hint">directive in module <code ng:non-bindable="">builderApp</code>
</span>
</div>
</h1>
<div><h2 id="description">Description</h2>
<div class="description"><div class="builderapp-directive-page builderapp-directive-buildershowoptionajaxrequests-page"><p>Show modal - list of all options ajax requests</p>
</div></div>
<h2 id="usage">Usage</h2>
<div class="usage">as element:<pre class="prettyprint linenums">&lt;builder-show-option-ajax-requests&gt;
&lt;/builder-show-option-ajax-requests&gt;</pre>
<h3 id="usage_directive-info">Directive info</h3>
<div class="directive-info"><ul><li>This directive creates new scope.</li>
</ul>
</div>
</div>
</div>
