<h1><code ng:non-bindable="">builderToggleVar</code>
<div><span class="hint">directive in module <code ng:non-bindable="">builderApp</code>
</span>
</div>
</h1>
<div><h2 id="description">Description</h2>
<div class="description"><div class="builderapp-directive-page builderapp-directive-buildertogglevar-page"><p>Display a toggle button to enable/disable a propery/variable.</p>
</div></div>
<h2 id="usage">Usage</h2>
<div class="usage">as element:<pre class="prettyprint linenums">&lt;builder-toggle-var
       builder-toggle-model="{any}"
       builder-toggle-key="{string}"&gt;
&lt;/builder-toggle-var&gt;</pre>
<h3 id="usage_directive-info">Directive info</h3>
<div class="directive-info"><ul><li>This directive creates new scope.</li>
</ul>
</div>
<h4 id="usage_directive-info_parameters">Parameters</h4><table class="variables-matrix table table-bordered table-striped"><thead><tr><th>Param</th><th>Type</th><th>Details</th></tr></thead><tbody><tr><td>builderToggleModel</td><td><a href="" class="label type-hint type-hint-any">any</a></td><td><div class="builderapp-directive-page builderapp-directive-buildertogglevar-page"><p>Binding - required - &#39;=builderToggleModel&#39;.</p>
</div></td></tr><tr><td>builderToggleKey</td><td><a href="" class="label type-hint type-hint-string">string</a></td><td><div class="builderapp-directive-page builderapp-directive-buildertogglevar-page"><p>Binding - required - &#39;@builderToggleKey&#39;.</p>
</div></td></tr></tbody></table></div>
</div>
