<h1><code ng:non-bindable="">dttbBuilderMenu</code>
<div><span class="hint">directive in module <code ng:non-bindable="">builderApp</code>
</span>
</div>
</h1>
<div><h2 id="description">Description</h2>
<div class="description"><div class="builderapp-directive-page builderapp-directive-dttbbuildermenu-page"><p>Display a left menu of builder.</p>
</div></div>
<h2 id="usage">Usage</h2>
<div class="usage">as attribute<pre class="prettyprint linenums">&lt;ANY dttb-builder-menu
     dttb-menu="{object}"
     dttb-menu-level="{number}"
     dttb-root-level="{number}"&gt;
   ...
&lt;/ANY&gt;</pre>
<h3 id="usage_directive-info">Directive info</h3>
<div class="directive-info"><ul><li>This directive creates new scope.</li>
</ul>
</div>
<h4 id="usage_directive-info_parameters">Parameters</h4><table class="variables-matrix table table-bordered table-striped"><thead><tr><th>Param</th><th>Type</th><th>Details</th></tr></thead><tbody><tr><td>dttbMenu</td><td><a href="" class="label type-hint type-hint-object">object</a></td><td><div class="builderapp-directive-page builderapp-directive-dttbbuildermenu-page"><p>Binding - required - &#39;=&#39;.</p>
</div></td></tr><tr><td>dttbMenuLevel</td><td><a href="" class="label type-hint type-hint-number">number</a></td><td><div class="builderapp-directive-page builderapp-directive-dttbbuildermenu-page"><p>Binding - optional - &#39;=?&#39;.</p>
</div></td></tr><tr><td>dttbRootLevel</td><td><a href="" class="label type-hint type-hint-number">number</a></td><td><div class="builderapp-directive-page builderapp-directive-dttbbuildermenu-page"><p>Attribute - optional - &#39;@?&#39;.</p>
</div></td></tr></tbody></table></div>
</div>
