<h1><code ng:non-bindable="">builderShowOptionAjaxRequestsController</code>
<div><span class="hint">controller in module <code ng:non-bindable="">builderApp</code>
</span>
</div>
</h1>
<div><h2 id="description">Description</h2>
<div class="description"><div class="builderapp-controller-page builderapp-controller-buildershowoptionajaxrequestscontroller-page"><h3 id="description_buildershowoptionajaxrequests">builderShowOptionAjaxRequests</h3>
<p>Controller of directive builderShowOptionAjaxRequests</p>
</div></div>
<h2 id="dependencies">Dependencies</h2>
<ul class="dependencies"><li><code ng:non-bindable=""><a href="#/api/ng.$scope">$scope</a></code>
</li>
<li><code ng:non-bindable=""><a href="#/api/ng.$rootScope">$rootScope</a></code>
</li>
</ul>
</div>
