<h1><code ng:non-bindable="">builderFormTypeConfigController</code>
<div><span class="hint">controller in module <code ng:non-bindable="">builderApp</code>
</span>
</div>
</h1>
<div><h2 id="description">Description</h2>
<div class="description"><div class="builderapp-controller-page builderapp-controller-builderformtypeconfigcontroller-page"><h3 id="description_builderformtypeconfig">builderFormTypeConfig</h3>
<p>Controller of directive builderFormTypeConfig</p>
</div></div>
</div>
