<h1><code ng:non-bindable="">builderFormLabelController</code>
<div><span class="hint">controller in module <code ng:non-bindable="">builderApp</code>
</span>
</div>
</h1>
<div><h2 id="description">Description</h2>
<div class="description"><div class="builderapp-controller-page builderapp-controller-builderformlabelcontroller-page"><h3 id="description_builderformlabel">builderFormLabel</h3>
<p>Controller of directive builderFormLabel</p>
</div></div>
<h2 id="dependencies">Dependencies</h2>
<ul class="dependencies"><li><code ng:non-bindable=""><a href="#/api/ng.$scope">$scope</a></code>
</li>
</ul>
</div>
