<h1><code ng:non-bindable="">builderHttpConfig</code>
<div><span class="hint">directive in module <code ng:non-bindable="">builderApp</code>
</span>
</div>
</h1>
<div><h2 id="description">Description</h2>
<div class="description"><div class="builderapp-directive-page builderapp-directive-builderhttpconfig-page"><p>Display a list of form elements for HTTP Configuration</p>
</div></div>
<h2 id="usage">Usage</h2>
<div class="usage">as attribute<pre class="prettyprint linenums">&lt;ANY builder-http-config
     dttb-http-config="{object}"&gt;
   ...
&lt;/ANY&gt;</pre>
<h3 id="usage_directive-info">Directive info</h3>
<div class="directive-info"><ul><li>This directive creates new scope.</li>
</ul>
</div>
<h4 id="usage_directive-info_parameters">Parameters</h4><table class="variables-matrix table table-bordered table-striped"><thead><tr><th>Param</th><th>Type</th><th>Details</th></tr></thead><tbody><tr><td>dttbHttpConfig</td><td><a href="" class="label type-hint type-hint-object">object</a></td><td><div class="builderapp-directive-page builderapp-directive-builderhttpconfig-page"><p>Binding - required - &#39;=dttbHttpConfig&#39;.
Model for this HTTP configuration form.</p>
</div></td></tr></tbody></table></div>
</div>
