<h1><code ng:non-bindable="">builderFormTypeConfig</code>
<div><span class="hint">directive in module <code ng:non-bindable="">builderApp</code>
</span>
</div>
</h1>
<div><h2 id="description">Description</h2>
<div class="description"><div class="builderapp-directive-page builderapp-directive-builderformtypeconfig-page"><p>Display a form type configuration</p>
</div></div>
<h2 id="usage">Usage</h2>
<div class="usage">as attribute<pre class="prettyprint linenums">&lt;ANY builder-form-type-config
     builder-label-key="{string}"="{object}"&gt;
   ...
&lt;/ANY&gt;</pre>
<h3 id="usage_directive-info">Directive info</h3>
<div class="directive-info"><ul><li>This directive creates new scope.</li>
</ul>
</div>
<h4 id="usage_directive-info_parameters">Parameters</h4><table class="variables-matrix table table-bordered table-striped"><thead><tr><th>Param</th><th>Type</th><th>Details</th></tr></thead><tbody><tr><td>builderLabelKey</td><td><a href="" class="label type-hint type-hint-string">string</a></td><td><div class="builderapp-directive-page builderapp-directive-builderformtypeconfig-page"><p>Attribute - required - &#39;@builderFormType&#39;.</p>
</div></td></tr><tr><td>builderFormTypeConfig</td><td><a href="" class="label type-hint type-hint-object">object</a></td><td><div class="builderapp-directive-page builderapp-directive-builderformtypeconfig-page"><p>Bind - required - &#39;=builderFormTypeConfigModel&#39;.</p>
</div></td></tr></tbody></table></div>
</div>
