<h1><code ng:non-bindable="">builderModalHelper</code>
<div><span class="hint">directive in module <code ng:non-bindable="">builderApp</code>
</span>
</div>
</h1>
<div><h2 id="description">Description</h2>
<div class="description"><div class="builderapp-directive-page builderapp-directive-buildermodalhelper-page"><p>Display a help dialog for a component.</p>
</div></div>
<h2 id="usage">Usage</h2>
<div class="usage">as element:<pre class="prettyprint linenums">&lt;builder-modal-helper
       help-key="{string}"&gt;
&lt;/builder-modal-helper&gt;</pre>
<h3 id="usage_directive-info">Directive info</h3>
<div class="directive-info"><ul><li>This directive creates new scope.</li>
</ul>
</div>
<h4 id="usage_directive-info_parameters">Parameters</h4><table class="variables-matrix table table-bordered table-striped"><thead><tr><th>Param</th><th>Type</th><th>Details</th></tr></thead><tbody><tr><td>helpKey</td><td><a href="" class="label type-hint type-hint-string">string</a></td><td><div class="builderapp-directive-page builderapp-directive-buildermodalhelper-page"><p>Binding - required - &#39;@&#39;.</p>
</div></td></tr></tbody></table></div>
</div>
