<div class="form-group">
    <div class="col-lg-3 control-label">
        <builder-toggle-var builder-toggle-model="model" builder-toggle-key="conversionResponse"></builder-toggle-var>
        <label builder-form-label builder-label-key="conversionRequest">
        </label>
    </div>
    <div class="col-lg-9" ng-show="model !== $root.dttbBuilderToggleOffPlaceholder">
        <div ui-ace="$root.dttbBuilderAceOption" ng-model="model"></div>
    </div>
</div>
