<div class="form-group">
    <label class="col-lg-3 control-label" builder-form-label builder-label-key="httpMethod"></label>
    <div class="col-lg-9">
        <select class="form-control" ng-model="config.method">
            <option disabled value="">---Please Select---</option>
            <option ng-repeat="option in $root.dttbBuilderHttpRequestTypes" value="{{::option}}">{{::option}}</option>
        </select>
    </div>
</div>
<div class="form-group">
    <label class="col-lg-3 control-label" builder-form-label builder-label-key="httpUrl"></label>
    <div class="col-lg-9">
        <input placeholder="E.g., http://yourdomain.com/api/action" type="text" class="form-control" ng-model="config.url">
    </div>
</div>
<div class="form-group">
    <label class="col-lg-3 control-label">
        <builder-toggle-var builder-toggle-model="config.params" builder-toggle-key="httpParams"></builder-toggle-var>
        <span builder-form-label builder-label-key="httpParams"></span>
    </label>
    <div class="col-lg-9" ng-if="config.params !== $root.dttbBuilderToggleOffPlaceholder">
        <fieldset>
            <div class="form-group" ng-repeat="param in config.params track by $index">
                <div class="col-lg-3">
                    <input placeholder="E.g., example_param" type="text" class="form-control input-sm" ng-model="param.key">
                </div>
                <div class="col-lg-8">
                    <input placeholder="E.g., Example_param_value." type="text" class="form-control input-sm" ng-model="param.value">
                </div>
                <div class="col-lg-1">
                    <a href="" class="btn btn-danger btn-sm" ng-click="removeFromArray(config.params, $index);">
                        <i class="fa fa-trash"></i>
                    </a>
                </div>
            </div>
            <div class="form-group">
                <div class="col-lg-12 text-center">
                    <button type="button" class="btn btn-default btn-block btn-xs" ng-click="addBasicObjectToArray(config.params);">
                        <i class="fa fa-plus"></i> Add param
                    </button>
                </div>
            </div>
        </fieldset>
    </div>
</div>
<div class="form-group">
    <label class="col-lg-3 control-label">
        <builder-toggle-var builder-toggle-model="config.headers" builder-toggle-key="httpHeaders"></builder-toggle-var>
        <span builder-form-label builder-label-key="httpHeaders"></span>
    </label>
    <div class="col-lg-9" ng-if="config.headers !== $root.dttbBuilderToggleOffPlaceholder">
        <fieldset>
            <div class="form-group" ng-repeat="singleData in config.headers track by $index">
                <div class="col-lg-3">
                    <input placeholder="E.g., example_header" type="text" class="form-control input-sm" ng-model="singleData.key">
                </div>
                <div class="col-lg-8">
                    <input placeholder="E.g., example_header_value." type="text" class="form-control input-sm" ng-model="singleData.value">
                </div>
                <div class="col-lg-1">
                    <a href="" class="btn btn-danger btn-sm" ng-click="removeFromArray(config.headers, $index);">
                        <i class="fa fa-trash"></i>
                    </a>
                </div>
            </div>
            <div class="form-group">
                <div class="col-lg-12 text-center">
                    <button type="button" class="btn btn-default btn-block btn-xs" ng-click="addBasicObjectToArray(config.headers);">
                        <i class="fa fa-plus"></i> Add Header
                    </button>
                </div>
            </div>
        </fieldset>
    </div>
</div>
<div class="form-group">
    <label class="col-lg-3 control-label">
        <builder-toggle-var builder-toggle-model="config.data" builder-toggle-key="httpData"></builder-toggle-var>
        <span builder-form-label builder-label-key="httpData"></span>
    </label>
    <div class="col-lg-9" ng-if="config.data !== $root.dttbBuilderToggleOffPlaceholder">
        <fieldset>
            <div class="form-group" ng-repeat="singleData in config.data track by $index">
                <div class="col-lg-3">
                    <input placeholder="E.g., example_data" type="text" class="form-control input-sm" ng-model="singleData.key">
                </div>
                <div class="col-lg-8">
                    <input placeholder="E.g., example_data_value." type="text" class="form-control input-sm" ng-model="singleData.value">
                </div>
                <div class="col-lg-1">
                    <a href="" class="btn btn-danger btn-sm" ng-click="removeFromArray(config.data, $index);">
                        <i class="fa fa-trash"></i>
                    </a>
                </div>
            </div>
            <div class="form-group">
                <div class="col-lg-12 text-center">
                    <button type="button" class="btn btn-default btn-block btn-xs" ng-click="addBasicObjectToArray(config.data);">
                        <i class="fa fa-plus"></i> Add data
                    </button>
                </div>
            </div>
        </fieldset>
    </div>
</div>
<div class="form-group" ng-if="0">
    <label class="col-lg-3 control-label">
        <builder-toggle-var builder-toggle-model="config.xsrfHeaderName" builder-toggle-key="httpXsrfHeaderName"></builder-toggle-var>
        <span builder-form-label builder-label-key="httpXsrfHeaderName"></span>
    </label>
    <div class="col-lg-9" ng-if="config.xsrfHeaderName !== $root.dttbBuilderToggleOffPlaceholder">
        <input placeholder="E.g., xsrfHeaderName" type="text" class="form-control" ng-model="config.xsrfHeaderName">
    </div>
</div>
<div class="form-group" ng-if="0">
    <label class="col-lg-3 control-label">
        <builder-toggle-var builder-toggle-model="config.xsrfCookieName" builder-toggle-key="httpXsrfCookieName"></builder-toggle-var>
        <span builder-form-label builder-label-key="httpXsrfCookieName"></span>
    </label>
    <div class="col-lg-9" ng-if="config.xsrfCookieName !== $root.dttbBuilderToggleOffPlaceholder">
        <input placeholder="E.g., httpXsrfCookieName" type="text" class="form-control" ng-model="config.xsrfCookieName">
    </div>
</div>
<div class="form-group" ng-if="0">
    <label class="col-lg-3 control-label">
        <builder-toggle-var builder-toggle-model="config.cache" builder-toggle-key="httpCache"></builder-toggle-var>
        <span builder-form-label builder-label-key="httpCache"></span>
    </label>
    <div class="col-lg-9" ng-if="config.cache !== $root.dttbBuilderToggleOffPlaceholder">
        <div class="checkbox" builder-form-yes-no builder-form-model="config.cache">
        </div>
    </div>
</div>
<div class="form-group" ng-if="0">
    <label class="col-lg-3 control-label">
        <builder-toggle-var builder-toggle-model="config.withCredentials" builder-toggle-key="httpWithCredentials"></builder-toggle-var>
        <span builder-form-label builder-label-key="httpWithCredentials"></span>
    </label>
    <div class="col-lg-9" ng-if="config.withCredentials !== $root.dttbBuilderToggleOffPlaceholder">
        <div class="checkbox" builder-form-yes-no builder-form-model="config.withCredentials">
        </div>
    </div>
</div>
<div class="form-group" ng-if="0">
    <label class="col-lg-3 control-label">
        <builder-toggle-var builder-toggle-model="config.responseType" builder-toggle-key="httpResponseType"></builder-toggle-var>
        <span builder-form-label builder-label-key="httpResponseType"></span>
    </label>
    <div class="col-lg-9" ng-if="config.responseType !== $root.dttbBuilderToggleOffPlaceholder">
        <input placeholder="E.g., httpResponseType" type="text" class="form-control" ng-model="config.responseType">
    </div>
</div>
