<div class="well">
    <h4 class="text-center">
        <builder-toggle-var builder-toggle-model="builder.dttbModel.actions.creating" builder-toggle-key="creating"></builder-toggle-var>
        <span builder-form-label builder-label-key="builderActionCreatingRequest"></span>
    </h4>
    <div ng-if="builder.dttbModel.actions.creating !== $root.dttbBuilderParameters.toggleOffPlaceholder">
        <form class="form-horizontal">
            <fieldset>
                <div builder-http-config dttb-http-config="builder.dttbModel.actions.creating.requestConfig"></div>
                <div builder-form-conversion-response builder-conversion-model="builder.dttbModel.actions.creating.conversionResponseBody"></div>
                <div builder-form-conversion-request builder-conversion-model="builder.dttbModel.actions.creating.conversionRequestBody"></div>
            </fieldset>
        </form>
    </div>
</div>
