<label>
    <input type="radio" ng-model="model" ng-value="$root.dttbBuilderParameters.valueTrue"> Yes
</label>
<label>
    <input type="radio" ng-model="model" ng-value="$root.dttbBuilderParameters.valueFalse"> No
</label>
