<span class="text-danger dttb-cursor-pointer" ng-click="toggle();" title="{{::toggleConfig.description}}">
	<i ng-class="{'fa-toggle-on': model!==$root.dttbBuilderToggleOffPlaceholder, 'fa-toggle-off': model===$root.dttbBuilderToggleOffPlaceholder}"  class="fa"></i>
</span>
