<div class="well">
    <h4 class="text-center">
    <builder-toggle-var builder-toggle-model="builder.dttbModel.actions.deleting" builder-toggle-key="deleting"></builder-toggle-var>
    <span builder-form-label builder-label-key="builderActionDeleting"></span>
    </h4>
    <form class="form-horizontal" ng-if="builder.dttbModel.actions.deleting !== $root.dttbBuilderParameters.toggleOffPlaceholder">
        <fieldset>
            <div class="form-group">
                <label class="col-lg-3 control-label" builder-form-label builder-label-key="enableRouteParams"></label>
                <div class="col-lg-9">
                    <div class="checkbox" builder-form-yes-no builder-form-model="builder.dttbModel.actions.deleting.enableRouteParams"></div>
                </div>
            </div>
            <div builder-http-config dttb-http-config="builder.dttbModel.actions.deleting.requestConfig"></div>
            <div builder-form-conversion-response builder-conversion-model="builder.dttbModel.actions.deleting.conversionResponseBody"></div>
            <div builder-form-conversion-request builder-conversion-model="builder.dttbModel.actions.deleting.conversionRequestBody"></div>
        </fieldset>
    </form>
</div>
