<div class="form-group">
    <label class="col-lg-3 control-label" builder-form-label builder-label-key="creatingFieldLabel"></label>
    <div class="col-lg-9">
        <input placeholder="E.g., User Name" type="text" class="form-control" placeholder="Label" ng-model="field.label">
    </div>
</div>
<div class="form-group">
    <label class="col-lg-3 control-label" builder-form-label builder-label-key="creatingFieldDataType"></label>
    <div class="col-lg-9">
        <select class="form-control" ng-model="field.dataType">
            <option disabled value="">---Please Select---</option>
            <option ng-repeat="option in $root.dttbBuilderParameters.dttbDataTypes" value="{{::option}}">
                {{::option}}
            </option>
        </select>
    </div>
</div>
<div class="form-group">
    <label class="col-lg-3 control-label" builder-form-label builder-label-key="creatingFieldKey"></label>
    <div class="col-lg-9">
        <input placeholder="E.g., userName" type="text" class="form-control" placeholder="Key" ng-model="field.key">
    </div>
</div>
<div class="form-group">
    <label class="col-lg-3 control-label" builder-form-label builder-label-key="formType"></label>
    <div class="col-lg-9">
        <select class="form-control" ng-model="field.formType">
                <option disabled value="">---Please Select---</option>
                <option 
                    ng-if="field.dataType==='number'"
                    ng-repeat="option in $root.dttbBuilderParameters.dttbFormTypes.number" 
                    value="{{::option}}">
                    {{::option}}
                </option>
                <option 
                    ng-if="field.dataType==='text'"
                    ng-repeat="option in $root.dttbBuilderParameters.dttbFormTypes.text" 
                    value="{{::option}}">
                    {{::option}}
                </option>
                <option 
                    ng-if="field.dataType==='date'"
                    ng-repeat="option in $root.dttbBuilderParameters.dttbFormTypes.date" 
                    value="{{::option}}">
                    {{::option}}
                </option>
                <option 
                    ng-if="field.dataType==='array'"
                    ng-repeat="option in $root.dttbBuilderParameters.dttbFormTypes.array" 
                    value="{{::option}}">
                    {{::option}}
                </option>
                <option 
                    ng-if="field.dataType==='boolean'"
                    ng-repeat="option in $root.dttbBuilderParameters.dttbFormTypes.boolean" 
                    value="{{::option}}">
                    {{::option}}
                </option>
            </select>
    </div>
</div>
<div ng-if="field.formType" builder-form-type-config builder-form-type-config-model="field.formTypeConfig" builder-form-type="{{field.formType}}"></div>
<div class="form-group">
    <div class="col-lg-3 control-label">
        <builder-toggle-var builder-toggle-model="field.validations" builder-toggle-key="columnValidations"></builder-toggle-var>
        <label builder-form-label builder-label-key="formValidations"></label>
    </div>
    <div class="col-lg-9" ng-if="field.validations!==$root.dttbBuilderParameters.toggleOffPlaceholder">
        <builder-form-validation builder-data-type="field.dataType" builder-validations="field.validations"></builder-form-validation>
    </div>
</div>