<li ng-class="{'active': item.active}" ng-repeat="item in dttbMenu track by $index">
    <a href="" ng-click="toggleItem(item);">
        <ng-bind-html ng-bind-html="dttbMenuTabs"></ng-bind-html> {{::item.title}}
        <span class="caret arrow" ng-if="item.subs && item.subs.length > 0"></span>
    </a>
    <ul class="nav nav-pills nav-stacked left-menu" dttb-builder-menu dttb-menu="item.subs" dttb-menu-level="dttbMenuLevel" ng-if="item.subs && item.subs.length > 0"></ul>
</li>
