<div class="form-group">
    <label class="col-lg-3 control-label" builder-form-label builder-label-key="colLabel"></label>
    <div class="col-lg-9">
        <input placeholder="E.g., User's Email" type="text" class="form-control" placeholder="Label" ng-model="column.label">
    </div>
</div>
<div class="form-group">
    <label class="col-lg-3 control-label" builder-form-label builder-label-key="colKey"></label>
    <div class="col-lg-9">
        <input placeholder="E.g., userEmail" type="text" class="form-control" placeholder="Key" ng-model="column.key">
    </div>
</div>
<div class="form-group">
    <label class="col-lg-3 control-label" builder-form-label builder-label-key="colDisplayKey"></label>
    <div class="col-lg-9">
        <input placeholder="E.g., userEmail or userName" type="text" class="form-control" placeholder="Display Key" ng-model="column.displayKey">
    </div>
</div>
<div class="form-group">
    <label class="col-lg-3 control-label" builder-form-label builder-label-key="colSortable"></label>
    <div class="col-lg-9">
        <div class="checkbox" builder-form-yes-no builder-form-model="column.sortable"></div>
    </div>
</div>
<div class="form-group">
    <label class="col-lg-3 control-label" builder-form-label builder-label-key="colLocalFilter"></label>
    <div class="col-lg-9">
        <div class="checkbox" builder-form-yes-no builder-form-model="column.allowLocalFilter"></div>
    </div>
</div>
<div class="form-group">
    <label class="col-lg-3 control-label" builder-form-label builder-label-key="colRTLText"></label>
    <div class="col-lg-9">
        <div class="checkbox" builder-form-yes-no builder-form-model="column.RTLtext"></div>
    </div>
</div>
<div class="form-group">
    <label class="col-lg-3 control-label" builder-form-label builder-label-key="colHeaderDirection"></label>
    <div class="col-lg-9">
        <select class="form-control" ng-model="column.headerDirection">
            <option disabled value="">---Please Select---</option>
            <option ng-repeat="option in $root.dttbBuilderParameters.dttbHeaderDirections" value="{{::option}}">
                {{::option}}
            </option>
        </select>
    </div>
</div>
<div class="form-group">
    <label class="col-lg-3 control-label" builder-form-label builder-label-key="colDataType"></label>
    <div class="col-lg-9">
        <select class="form-control" ng-model="column.dataType">
            <option disabled value="">---Please Select---</option>
            <option ng-repeat="option in $root.dttbBuilderParameters.dttbDataTypes" value="{{::option}}">
                {{::option}}
            </option>
        </select>
    </div>
</div>
<div class="form-group">
    <div class="col-lg-3 control-label">
        <builder-toggle-var builder-toggle-model="column.highlights" builder-toggle-key="columnHighlights"></builder-toggle-var>
        <label builder-form-label builder-label-key="colHighlights"></label>
    </div>
    <div class="col-lg-9" ng-if="column.highlights!==$root.dttbBuilderParameters.toggleOffPlaceholder">
        <table class="table">
            <tbody>
                <tr ng-repeat="highlight in column.highlights track by $index">
                    <td>
                        <select class="form-control input-sm" ng-model="highlight.type">
                            <option disabled value="">---Please Select---</option>
                            <option ng-repeat="highlightOption in $root.dttbBuilderParameters.dttbHighlights" value="{{highlightOption.value}}">{{highlightOption.label}}</option>
                        </select>
                    </td>
                    <td class="text-center {{highlight.type}}">
                        <h4>
                        <strong class="{{highlight.type}}">IF</strong>
                      </h4>
                    </td>
                    <td>
                        <select class="form-control input-sm" ng-model="highlight.condition">
                            <option disabled value="">---Please Select---</option>
                            <option 
                                ng-repeat="option in $root.dttbBuilderParameters.dttbHighlightConditions.default"
                                value="{{option.value}}">
                                {{option.label}}  
                            </option>
                            <option 
                                ng-repeat="option in $root.dttbBuilderParameters.dttbHighlightConditions.number"
                                ng-if="column.dataType==='number'" 
                                value="{{option.value}}">
                                {{option.label}}  
                            </option>
                            <option 
                                ng-repeat="option in $root.dttbBuilderParameters.dttbHighlightConditions.text"
                                ng-if="column.dataType==='text'" 
                                value="{{option.value}}">
                                {{option.label}}  
                            </option>
                        </select>
                    </td>
                    <td>
                        <input placeholder="E.g., 15; some string; true; etc.." type="text" class="form-control input-sm" ng-model="highlight.value" ng-if="column.dataType!=='boolean'">
                        <div class="checkbox" ng-if="column.dataType==='boolean'" builder-form-yes-no builder-form-model="highlight.value"></div>
                    </td>
                    <td>
                        <a href="" class="btn btn-danger btn-sm" ng-click="builder.removeFromArray(column.highlights, $index);">
                            <i class="fa fa-trash"></i>
                        </a>
                    </td>
                </tr>
                <tr>
                    <td colspan="5">
                        <button class="btn btn-default btn-block btn-xs" ng-click="builder.addToArray(column.highlights, $root.dttbBuilderParameters.tempColHighlight);">ADD</button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
<div class="form-group">
    <label class="col-lg-3 control-label" builder-form-label builder-label-key="colDisplayAs"></label>
    <div class="col-lg-9">
        <select class="form-control" ng-model="column.displayAs">
            <option disabled value="">---Please Select---</option>
            <option 
                ng-if="column.dataType==='number'"
                ng-repeat="option in $root.dttbBuilderParameters.dttbDisplayAs.number" 
                value="{{::option}}">
                {{::option}}
            </option>
            <option 
                ng-if="column.dataType==='text'"
                ng-repeat="option in $root.dttbBuilderParameters.dttbDisplayAs.text" 
                value="{{::option}}">
                {{::option}}
            </option>
            <option 
                ng-if="column.dataType==='date'"
                ng-repeat="option in $root.dttbBuilderParameters.dttbDisplayAs.date" 
                value="{{::option}}">
                {{::option}}
            </option>
            <option 
                ng-if="column.dataType==='array'"
                ng-repeat="option in $root.dttbBuilderParameters.dttbDisplayAs.array" 
                value="{{::option}}">
                {{::option}}
            </option>
            <option 
                ng-if="column.dataType==='boolean'"
                ng-repeat="option in $root.dttbBuilderParameters.dttbDisplayAs.boolean" 
                value="{{::option}}">
                {{::option}}
            </option>
        </select>
    </div>
</div>
<div class="form-group" ng-if="column.displayAs">
    <label class="col-lg-3 control-label" builder-form-label builder-label-key="colDisplayAsConfig"></label>
    <div class="col-lg-9">
        <table class="table" ng-if="column.displayAs=='text'">
            <tbody>
                <tr>
                    <td>
                        <builder-toggle-var builder-toggle-model="column.displayAsConfig.textCase" builder-toggle-key="displayAsConfigTextcase"></builder-toggle-var>
                        <label class="control-label" builder-form-label builder-label-key="colDisplayAsConfigTextCase"></label>
                    </td>
                    <td>
                        <div ng-if="column.displayAsConfig.textCase!==$root.dttbBuilderParameters.toggleOffPlaceholder">
                            <select class="form-control" ng-model="column.displayAsConfig.textCase">
                                <option disabled value="">---Please Select---</option>
                                <option ng-repeat="option in $root.dttbBuilderParameters.dttbTextCases" value="{{::option.value}}">
                                    {{::option.label}}
                                </option>
                            </select>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>
                        <builder-toggle-var builder-toggle-model="column.displayAsConfig.limitToLength" builder-toggle-key="displayAsConfigLimitLength"></builder-toggle-var>
                        <label class="control-label" builder-form-label builder-label-key="colDisplayAsConfigLimitToLength"></label>
                    </td>
                    <td>
                        <input 
                            ng-if="column.displayAsConfig.limitToLength!==$root.dttbBuilderParameters.toggleOffPlaceholder" 
                            placeholder="E.g., 10" 
                            builder-convert-to-number
                            class="form-control" 
                            ng-model="column.displayAsConfig.limitToLength">
                    </td>
                </tr>
                <tr>
                    <td>
                        <builder-toggle-var builder-toggle-model="column.displayAsConfig.limitToBegin" builder-toggle-key="displayAsConfigLimitBegin"></builder-toggle-var>
                        <label class="control-label" builder-form-label builder-label-key="colDisplayAsConfigLimitToBegin"></label>
                    </td>
                    <td>
                        <input 
                            ng-if="column.displayAsConfig.limitToBegin!==$root.dttbBuilderParameters.toggleOffPlaceholder" 
                            placeholder="E.g., 2" 
                            builder-convert-to-number
                            class="form-control" 
                            ng-model="column.displayAsConfig.limitToBegin">
                    </td>
                </tr>
            </tbody>
        </table>
        <table class="table" ng-if="column.displayAs=='number' || column.displayAs=='currency'">
            <tbody>
                <tr>
                    <td>
                        <builder-toggle-var builder-toggle-model="column.displayAsConfig.fractionSize" builder-toggle-key="displayAsConfigFraction"></builder-toggle-var>
                        <label class="control-label" builder-form-label builder-label-key="colDisplayAsConfigFractionSize"></label>
                    </td>
                    <td>
                        <input 
                            ng-if="column.displayAsConfig.fractionSize!==$root.dttbBuilderParameters.toggleOffPlaceholder"
                            placeholder="E.g., 1" 
                            builder-convert-to-number 
                            class="form-control" 
                            ng-model="column.displayAsConfig.fractionSize">
                    </td>
                </tr>
            </tbody>
        </table>
        <table class="table" ng-if="column.displayAs=='boolean'">
            <tbody>
                <tr>
                    <td>
                        <label class="control-label" builder-form-label builder-label-key="colDisplayAsConfigBooleanAs"></label>
                    </td>
                    <td>
                        <div class="input-group">
                            <span class="input-group-addon input-sm">
                                <input type="radio" value="default" ng-model="column.displayAsConfig.booleanAs">
                            </span>
                        </div>
                        <strong>As Default</strong>
                    </td>
                    <td>
                        <div class="input-group">
                            <span class="input-group-addon input-sm">
                                <input type="radio" value="icon" ng-model="column.displayAsConfig.booleanAs">
                            </span>
                        </div>
                        <strong>As Icon</strong>
                    </td>
                    <td>
                        <div class="input-group">
                            <span class="input-group-addon input-sm">
                                <input type="radio" value="text" ng-model="column.displayAsConfig.booleanAs">
                            </span>
                        </div>
                        <strong>As Text</strong>
                    </td>
                </tr>
                <tr ng-if="column.displayAsConfig.booleanAs!='default'">
                    <td>
                        <label class="control-label" builder-form-label builder-label-key="booleanDisplayFalse"></label>
                    </td>
                    <td colspan="3">
                        <input placeholder="E.g., No;fa fa-close; etc." type="text" class="form-control" ng-model="column.displayAsConfig.booleanFalseVal">
                    </td>
                </tr>
                <tr ng-if="column.displayAsConfig.booleanAs!='default'">
                    <td>
                        <label class="control-label" builder-form-label builder-label-key="booleanDisplayTrue"></label>
                    </td>
                    <td colspan="3">
                        <input placeholder="E.g., Yes;fa fa-check; etc." type="text" class="form-control" ng-model="column.displayAsConfig.booleanTrueVal">
                    </td>
                </tr>
            </tbody>
        </table>
        <table class="table" ng-if="column.displayAs=='currency'">
            <tbody>
                <tr>
                    <td>
                        <builder-toggle-var builder-toggle-model="column.displayAsConfig.currency" builder-toggle-key="displayAsConfigCurrency"></builder-toggle-var>
                        <label class="control-label" builder-form-label builder-label-key="colDisplayAsConfigCurrency"></label>
                    </td>
                    <td>
                        <div ng-if="column.displayAsConfig.currency!==$root.dttbBuilderParameters.toggleOffPlaceholder">
                            <input placeholder="E.g., $; EUR; etc." type="text" class="form-control" ng-model="column.displayAsConfig.currency">
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
        <table class="table" ng-if="column.displayAs=='date'">
            <tbody>
                <tr>
                    <td>
                        <builder-toggle-var builder-toggle-model="column.displayAsConfig.dateFormat" builder-toggle-key="displayAsConfigDateFormat"></builder-toggle-var>
                        <label class="control-label" builder-form-label builder-label-key="colDisplayAsConfigDateFormat"></label>
                    </td>
                    <td>
                        <div ng-if="column.displayAsConfig.dateFormat!==$root.dttbBuilderParameters.toggleOffPlaceholder">
                            <input placeholder="E.g., YYYY-MM-DD" type="text" class="form-control" ng-model="column.displayAsConfig.dateFormat">
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
        <table class="table" ng-if="column.displayAs=='array'">
            <tbody>
                <tr>
                    <td>
                        <label class="control-label" builder-form-label builder-label-key="colDisplayAsConfigArrayAs"></label>
                    </td>
                    <td>
                        <select class="form-control" ng-model="column.displayAsConfig.arrayAs">
                            <option disabled value="">---Please Select---</option>
                            <option ng-repeat="option in $root.dttbBuilderParameters.dttbArrayAs" value="{{::option}}">
                                {{::option}}
                            </option>
                        </select>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
<div class="form-group">
    <label class="col-lg-3 control-label" builder-form-label builder-label-key="colUneditable"></label>
    <div class="col-lg-9">
        <div class="checkbox" builder-form-yes-no builder-form-model="column.uneditable"></div>
    </div>
</div>
<div ng-if="!column.uneditable">
    <div class="form-group">
        <label class="col-lg-3 control-label" builder-form-label builder-label-key="formType"></label>
        <div class="col-lg-9">
            <select class="form-control" ng-model="column.formType">
                <option disabled value="">---Please Select---</option>
                <option 
                    ng-if="column.dataType==='number'"
                    ng-repeat="option in $root.dttbBuilderParameters.dttbFormTypes.number" 
                    value="{{::option}}">
                    {{::option}}
                </option>
                <option 
                    ng-if="column.dataType==='text'"
                    ng-repeat="option in $root.dttbBuilderParameters.dttbFormTypes.text" 
                    value="{{::option}}">
                    {{::option}}
                </option>
                <option 
                    ng-if="column.dataType==='date'"
                    ng-repeat="option in $root.dttbBuilderParameters.dttbFormTypes.date" 
                    value="{{::option}}">
                    {{::option}}
                </option>
                <option 
                    ng-if="column.dataType==='array'"
                    ng-repeat="option in $root.dttbBuilderParameters.dttbFormTypes.array" 
                    value="{{::option}}">
                    {{::option}}
                </option>
                <option 
                    ng-if="column.dataType==='boolean'"
                    ng-repeat="option in $root.dttbBuilderParameters.dttbFormTypes.boolean" 
                    value="{{::option}}">
                    {{::option}}
                </option>
            </select>
        </div>
    </div>
    <div ng-if="column.formType" builder-form-type-config builder-form-type-config-model="column.formTypeConfig" builder-form-type="{{column.formType}}"></div>
    <div class="form-group">
        <div class="col-lg-3 control-label">
            <builder-toggle-var builder-toggle-model="column.validations" builder-toggle-key="columnValidations"></builder-toggle-var>
            <label builder-form-label builder-label-key="formValidations"></label>
        </div>
        <div class="col-lg-9" ng-if="column.validations!==$root.dttbBuilderParameters.toggleOffPlaceholder">
            <builder-form-validation builder-data-type="column.dataType" builder-validations="column.validations"></builder-form-validation>
        </div>
    </div>
</div>
