<div class="well">
    <h4 class="control-label text-center" builder-form-label builder-label-key="builderColumnsConfig"></h4>
    <form class="form-horizontal">
        <fieldset>
            <div ng-sortable="{animation:200}">
                <div class="panel panel-default" ng-repeat="column in builder.dttbModel.columns track by $index">
                    <div class="panel-heading dttb-cursor-move">
                        <span class="badge">#{{::$index+1}}</span>
                        <span>{{column.label}} </span>
                        <span class="pull-right">
                                <a 
                                    href="" 
                                    class="btn btn-danger btn-xs" 
                                    ng-click="builder.removeFromArray(builder.dttbModel.columns, $index);"
                                    ng-click="options.splice($index,1)">
                                    <i class="fa fa-trash"></i>
                                </a>
                                <a 
                                    href="" 
                                    class="btn btn-info btn-xs" 
                                    ng-click="builder.dttbModel.columns[$index].dttbBuilderActive=!builder.dttbModel.columns[$index].dttbBuilderActive;">
                                    <i class="fa" ng-class="{'fa-angle-down': builder.dttbModel.columns[$index].dttbBuilderActive, 'fa-angle-up': !builder.dttbModel.columns[$index].dttbBuilderActive}"></i>
                                </a>
                            </span>
                    </div>
                    <div class="panel-body" ng-show="builder.dttbModel.columns[$index].dttbBuilderActive" ng-include="'/views/builder-2-column-form.html'">
                    </div>
                </div>
            </div>                
            <div class="form-group">
                <div class="col-lg-12">
                    <button type="button" class="btn btn-default btn-block btn-xs" ng-click="builder.addToArray(builder.dttbModel.columns, $root.dttbBuilderParameters.tempColForm);">Add column</button>
                </div>
            </div>
        </fieldset>
    </form>
</div>
