<div class="form-group">
    <div class="col-lg-3 control-label">
        <builder-toggle-var builder-toggle-model="optionAjaxRequest.callAtInit" builder-toggle-key="columnHighlights"></builder-toggle-var>
        <label builder-form-label builder-label-key="formTypeConfigCallAtInit"></label>
    </div>
    <div class="col-lg-9" ng-if="optionAjaxRequest.callAtInit!==$root.dttbBuilderParameters.toggleOffPlaceholder">
        <div class="checkbox" builder-form-yes-no builder-form-model="optionAjaxRequest.callAtInit"></div>
    </div>
</div>
<div class="form-group">
    <div class="col-lg-3 control-label">
        <builder-toggle-var builder-toggle-model="optionAjaxRequest.callAtEachEvent" builder-toggle-key="columnHighlights"></builder-toggle-var>
        <label builder-form-label builder-label-key="formTypeConfigCallAtEvent"></label>
    </div>
    <div class="col-lg-9" ng-if="optionAjaxRequest.callAtEachEvent!==$root.dttbBuilderParameters.toggleOffPlaceholder">
        <div class="checkbox" builder-form-yes-no builder-form-model="optionAjaxRequest.callAtEachEvent"></div>
    </div>
</div>
<div class="form-group">
    <div class="col-lg-3 control-label">
        <builder-toggle-var builder-toggle-model="optionAjaxRequest.callMinimumInterval" builder-toggle-key="columnHighlights"></builder-toggle-var>
        <label builder-form-label builder-label-key="formTypeConfigCallInterval"></label>
    </div>
    <div class="col-lg-9" ng-if="optionAjaxRequest.callMinimumInterval!==$root.dttbBuilderParameters.toggleOffPlaceholder">
        <input placeholder="E.g., 20000" type="number" class="form-control" ng-model="optionAjaxRequest.callMinimumInterval">
    </div>
</div>
<div class="form-group">
    <div class="col-lg-3 control-label">
        <builder-toggle-var builder-toggle-model="optionAjaxRequest.typeaheadKey" builder-toggle-key="columnHighlights"></builder-toggle-var>
        <label builder-form-label builder-label-key="formTypeConfigTypeaheadKey"></label>
    </div>
    <div class="col-lg-9" ng-if="optionAjaxRequest.typeaheadKey!==$root.dttbBuilderParameters.toggleOffPlaceholder">
        <input placeholder="E.g., userEmail" type="text" class="form-control" ng-model="optionAjaxRequest.typeaheadKey">
    </div>
</div>
<div builder-http-config dttb-http-config="optionAjaxRequest.requestConfig"></div>
<div builder-form-conversion-response builder-conversion-model="optionAjaxRequest.conversionResponseBody"></div>
<div builder-form-conversion-request builder-conversion-model="optionAjaxRequest.conversionRequestBody"></div>