<div class="well">
    <h4 class="control-label text-center" builder-form-label builder-label-key="builderGeneralConfig"></h4>
    <form class="form-horizontal">
        <fieldset>
            <div class="form-group">
                <label class="col-lg-3 control-label" builder-form-label builder-label-key="tableLabel">
                </label>
                <div class="col-lg-9">
                    <input placeholder="E.g., Users Table" type="text" class="form-control" ng-model="builder.dttbModel.table.label">
                </div>
            </div>
            <div class="form-group">
                <label class="col-lg-3 control-label" builder-form-label builder-label-key="tableUniqueId">
                </label>
                <div class="col-lg-9">
                    <input placeholder="E.g., An unique-string-id to identify the table" type="text" class="form-control" ng-model="builder.dttbModel.table.uniqueId">
                </div>
            </div>
            <div class="form-group">
                <div class="col-lg-3 control-label">
                    <builder-toggle-var builder-toggle-model="builder.dttbModel.table.otherLanguageLabel" builder-toggle-key="tableOtherLanguage"></builder-toggle-var>
                    <label builder-form-label builder-label-key="tableOtherLanguage"></label>
                </div>
                <div class="col-lg-9" ng-if="builder.dttbModel.table.otherLanguageLabel!==$root.dttbBuilderParameters.toggleOffPlaceholder">
                    <input placeholder="E.g., Spanish, French, Italian" type="text" class="form-control" ng-model="builder.dttbModel.table.otherLanguageLabel">
                </div>
            </div>
            <div class="form-group">
                <div class="col-lg-3 control-label">
                    <label builder-form-label builder-label-key="tablePagination"></label>
                </div>
                <div class="col-lg-9">
                    <table class="table">
                        <tbody>
                            <tr>
                                <td width="33%">
                                    <div class="input-group">
                                        <span class="input-group-addon input-sm" builder-form-yes-no builder-form-model="builder.dttbModel.table.displayShowingRow">
                                        </span>
                                    </div>
                                    <span builder-form-label builder-label-key="tablePaginationShowingNumRows"></span>
                                </td>
                                <td width="33%">
                                    <div class="input-group">
                                        <span class="input-group-addon input-sm" builder-form-yes-no builder-form-model="builder.dttbModel.table.displayPaging">
                                        </span>
                                    </div>
                                    <span builder-form-label builder-label-key="tablePaginationShowing"></span>
                                </td>
                                <td width="33%">
                                    <div class="input-group">
                                        <span class="input-group-addon input-sm" builder-form-yes-no builder-form-model="builder.dttbModel.table.displaySelectRowsPage">
                                        </span>
                                    </div>
                                    <span builder-form-label builder-label-key="tablePaginationShowingNumRowsSelect"></span>
                                </td>
                            </tr>
                            <tr ng-if="builder.dttbModel.table.displayPaging">
                                <td>
                                    <label builder-form-label builder-label-key="tablePaginationNumPagesDisplaying"></label>
                                </td>
                                <td colspan="2">
                                    <input placeholder="E.g., 5" type="number" class="form-control" ng-model="builder.dttbModel.table.numPagesDisplaying">
                                </td>
                            </tr>
                            <tr ng-if="builder.dttbModel.table.displayPaging">
                                <td>
                                    <label builder-form-label builder-label-key="tablePaginationNumRowsPerPage"></label>
                                </td>
                                <td colspan="2">
                                    <input placeholder="E.g., 10" type="number" class="form-control" ng-model="builder.dttbModel.table.numRowsPerPage">
                                </td>
                            </tr>
                            <tr ng-if="builder.dttbModel.table.displaySelectRowsPage">
                                <td>
                                    <label builder-form-label builder-label-key="tablePaginationNumRowsPerPageOptions"></label>
                                </td>
                                <td colspan="2">
                                    <input placeholder="E.g., 5,10,15,20,25,30" type="text" class="form-control" ng-model="builder.dttbModel.table.numRowsPerPageOptions">
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="form-group">
                <div class="col-lg-3 control-label">
                    <label builder-form-label builder-label-key="tableNavigation"></label>
                </div>
                <div class="col-lg-9">
                    <table class="table">
                        <tbody>
                            <tr>
                                <td width="33%">
                                    <div class="input-group">
                                        <span class="input-group-addon input-sm" builder-form-yes-no builder-form-model="builder.dttbModel.table.displayNavHighlights">
                                        </span>
                                    </div>
                                    <span builder-form-label builder-label-key="tableNavigationHighlight"></span>
                                </td>
                                <td width="33%">
                                    <div class="input-group">
                                        <span class="input-group-addon input-sm" builder-form-yes-no builder-form-model="builder.dttbModel.table.displayNavArrange">
                                        </span>
                                    </div>
                                    <span builder-form-label builder-label-key="tableNavigationArrange"></span>
                                </td>
                                <td width="33%">
                                    <div class="input-group">
                                        <span class="input-group-addon input-sm" builder-form-yes-no builder-form-model="builder.dttbModel.table.displayNavLocalSort">
                                        </span>
                                    </div>
                                    <span builder-form-label builder-label-key="tableNavigationLocalSort"></span>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="form-group">
                <div class="col-lg-3 control-label">
                    <label builder-form-label builder-label-key="tableNavigation"></label>
                </div>
                <div class="col-lg-9">
                    <table class="table">
                        <tbody>
                            <tr>
                                <td width="33%">
                                    <div class="input-group">
                                        <span class="input-group-addon input-sm" builder-form-yes-no builder-form-model="builder.dttbModel.table.displayNavHideShow">
                                        </span>
                                    </div>
                                    <span builder-form-label builder-label-key="tableNavigationHideShow"></span>
                                </td>
                                <td width="33%">
                                    <div class="input-group">
                                        <span class="input-group-addon input-sm" builder-form-yes-no builder-form-model="builder.dttbModel.table.displayNavLanguage">
                                        </span>
                                    </div>
                                    <span builder-form-label builder-label-key="tableNavigationLanguage"></span>
                                </td>
                                <td width="33%">
                                    <div class="input-group">
                                        <span class="input-group-addon input-sm" builder-form-yes-no builder-form-model="builder.dttbModel.table.displayNavExport">
                                        </span>
                                    </div>
                                    <span builder-form-label builder-label-key="tableNavigationExport"></span>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="form-group">
                <div class="col-lg-3 control-label">
                    <label builder-form-label builder-label-key="tableNavigation"></label>
                </div>
                <div class="col-lg-9">
                    <table class="table">
                        <tbody>
                            <tr>
                                <td width="33%">
                                    <div class="input-group">
                                        <span class="input-group-addon input-sm" builder-form-yes-no builder-form-model="builder.dttbModel.table.displayNavPrint">
                                    </div>
                                    <span builder-form-label builder-label-key="tableNavigationPrint"></span>
                                </td>
                                <td width="33%">
                                    <div class="input-group">
                                        <span class="input-group-addon input-sm" builder-form-yes-no builder-form-model="builder.dttbModel.table.displayNavRefresh">
                                        </span>
                                    </div>
                                    <span builder-form-label builder-label-key="tableNavigationRefresh"></span>
                                </td>
                                <td width="33%">
                                    <div class="input-group">
                                        <span class="input-group-addon input-sm" builder-form-yes-no builder-form-model="builder.dttbModel.table.displayNavShare">
                                        </span>
                                    </div>
                                    <span builder-form-label builder-label-key="tableNavigationShare"></span>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </fieldset>
    </form>
</div>
