<div class="form-group">
    <label class="col-lg-3 control-label" builder-form-label builder-label-key="filterLabel"></label>
    <div class="col-lg-9">
        <input placeholder="E.g., Salary" type="text" class="form-control" ng-model="filter.label">
    </div>
</div>
<div class="form-group">
    <label class="col-lg-3 control-label" builder-form-label builder-label-key="filterPlaceholder"></label>
    <div class="col-lg-9">
        <input placeholder="E.g., Placeholder" type="text" class="form-control" ng-model="filter.placeholder">
    </div>
</div>
<div class="form-group">
    <label class="col-lg-3 control-label" builder-form-label builder-label-key="filterKey"></label>
    <div class="col-lg-9">
        <input placeholder="E.g., userSalary" type="text" class="form-control" ng-model="filter.key">
    </div>
</div>
<div class="form-group">
    <label class="col-lg-3 control-label" builder-form-label builder-label-key="filterTypeahead"></label>
    <div class="col-lg-9">
        <table class="table">
            <tbody>
                <tr>
                    <td>
                        <builder-toggle-var builder-toggle-model="filter.options" builder-toggle-key="filterOptions"></builder-toggle-var>
                        <label class="control-label" builder-form-label builder-label-key="filterOptions"></label>
                    </td>
                    <td>
                        <div ng-if="filter.options!==$root.dttbBuilderParameters.toggleOffPlaceholder">
                            <input placeholder="E.g., options" type="text" class="form-control" ng-model="filter.options">
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>
                        <builder-toggle-var builder-toggle-model="filter.typeaheadAjaxRequestIndex" builder-toggle-key="filterTypeaheadAjaxRequest"></builder-toggle-var>
                        <label class="control-label" builder-form-label builder-label-key="filterOptionsAjaxRequest"></label>
                    </td>
                    <td ng-if="filter.typeaheadAjaxRequestIndex!==$root.dttbBuilderParameters.toggleOffPlaceholder">
                        <div class="row">
                            <div class="col-lg-6">
                                <select class="form-control input-sm" ng-model="filter.typeaheadAjaxRequestIndex" builder-convert-to-number>
                                    <option disabled value="">---Please Select---</option>
                                    <option ng-repeat="optionAjaxRequest in $root.dttbBuilderOptionAjaxRequests track by $index" value="{{$index}}">
                                        Request index {{$index}}
                                    </option>
                                </select>
                            </div>
                            <div class="col-lg-6">
                                <builder-show-option-ajax-requests builder-option-ajax-requests="builder.dttbModel.optionAjaxRequests"></builder-show-option-ajax-requests>
                            </div>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
<div class="form-group">
    <div class="col-lg-3 control-label">
        <builder-toggle-var builder-toggle-model="filter.conditionOptions" builder-toggle-key="filterConditions"></builder-toggle-var>
        <label builder-form-label builder-label-key="filterConditions">
        </label>
    </div>
    <div class="col-lg-9" ng-if="filter.conditionOptions!==$root.dttbBuilderParameters.toggleOffPlaceholder">
        <table class="table">
            <tbody>
                <tr ng-repeat="conditionOption in filter.conditionOptions track by $index">
                    <td>
                        <input placeholder="Condition Label. E.g., Greater Than" type="text" class="form-control input-sm" placeholder="Condition Label" ng-model="conditionOption.label">
                    </td>
                    <td>
                        <input placeholder="Condition Value. E.g., >" type="text" class="form-control input-sm" placeholder="Condition Value" ng-model="conditionOption.value">
                    </td>
                    <td width="5%">
                        <a href="" class="btn btn-danger btn-xs" ng-click="builder.removeFromArray(filter.conditionOptions, $index);">
                            <i class="fa fa-trash"></i>
                        </a>
                    </td>
                </tr>
                <tr>
                    <td colspan="3">
                        <a href="" class="btn btn-block btn-default btn-xs" ng-click="builder.addToArray(filter.conditionOptions, $root.dttbBuilderParameters.tempReadingFilterCondition);">
                            Add
                        </a>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
