<div class="row">
    <div class="col-lg-3">
        <div class="well">
            <button type="button" class="btn btn-primary btn-block" ng-click="builder.uploadCode();">
                Upload configuration
                <i class="fa fa-upload"></i>
            </button>
        </div>
        <div class="well">
            <button type="button" class="btn btn-primary btn-block" ng-click="builder.reOpenRecent();">
                Re-open recent configurations
                <i class="fa fa-folder-open"></i>
            </button>
        </div>
        <div class="well">
            <button type="button" class="btn btn-primary btn-block" ng-click="builder.saveConfiguration();">
                Save this configuration
                <i class="fa fa-save"></i>
            </button>
        </div>
        <div class="well">
            <ul class="nav nav-pills nav-stacked left-menu" dttb-builder-menu dttb-menu="builder.menu" dttb-root-level="1"></ul>
        </div>
    </div>
    <div class="col-lg-9">
        <div ng-include="'/views/'+builder.templateUrl"></div>
        <div class="text-danger">
            <p><b>If you are new to <code>data-tablar</code>, you can start with the examples in menu <label class="label label-info">Upload configuration <i class="fa fa-upload"></i></label></p>
            <p><b>* Please think of <label class="label label-info">Saving <i class="fa fa-save"></i></label> the configuration after every step.</b></p>
            <p><b>* Please review the configuration at step <label class="label label-info">5-Preview</label> and <label class="label label-info">6-Results</label> before using.</b></p>
        </div>
    </div>
</div>
