<div class="well">
    <h4 class="text-center">
        <builder-toggle-var builder-toggle-model="builder.dttbModel.actions.creating" builder-toggle-key="creating"></builder-toggle-var>
        <span builder-form-label builder-label-key="builderActionCreatingFields"></span>
    </h4>
    <div ng-if="builder.dttbModel.actions.creating !== $root.dttbBuilderParameters.toggleOffPlaceholder">
        <form class="form-horizontal">
            <fieldset>
                <div ng-sortable="{animation:200}">
                    <div class="panel panel-default" ng-repeat="field in builder.dttbModel.actions.creating.fields track by $index">
                        <div class="panel-heading">
                            <span class="badge">#{{::$index+1}}</span>
                            <span>{{field.label}} </span>
                            <span class="pull-right">
                                <div class="btn-group">
                                    <a 
                                        href="" 
                                        class="btn btn-block btn-success btn-xs dropdown-toggle" 
                                        title="Initialize from a column" 
                                        data-toggle="dropdown">
                                        <i class="fa fa-magic"></i>
                                    </a>
                                    <ul class="dropdown-menu dropdown-menu-right">
                                        <li 
                                            ng-repeat="column in builder.dttbModel.columns track by $index">
                                            <a 
                                            href="" 
                                            ng-click="builder.initCreatingFieldFromColumn(field, $index);">
                                            {{column.label}}
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                                <a 
                                    href="" 
                                    class="btn btn-danger btn-xs" 
                                    title="Delete this creating field" 
                                    ng-click="builder.removeFromArray(builder.dttbModel.actions.creating.fields, $index);">
                                    <i class="fa fa-trash"></i>
                                </a>
                                <a 
                                    href="" 
                                    class="btn btn-info btn-xs" 
                                    title="Toggle hide/show this creating field" 
                                    ng-click="builder.dttbModel.actions.creating.fields[$index].dttbBuilderActive=!builder.dttbModel.actions.creating.fields[$index].dttbBuilderActive;">
                                    <i class="fa" ng-class="{'fa-angle-down': builder.dttbModel.actions.creating.fields[$index].dttbBuilderActive, 'fa-angle-up': !builder.dttbModel.actions.creating.fields[$index].dttbBuilderActive}"></i>
                                </a>
                            </span>
                        </div>
                        <div class="panel-body" ng-show="builder.dttbModel.actions.creating.fields[$index].dttbBuilderActive" ng-include="'/views/builder-3-creating-field-form.html'">
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-lg-12">
                        <button type="button" class="btn btn-default btn-block btn-xs" ng-click="builder.addToArray(builder.dttbModel.actions.creating.fields, $root.dttbBuilderParameters.tempCreatingField);">Add field</button>
                    </div>
                </div>
            </fieldset>
        </form>
    </div>
</div>
