<div class="well">
    <h4 class="control-label text-center" builder-form-label builder-label-key="builderActionsConfig"></h4>
    <div class="row">
        <div class="col-lg-6">
            <div class="jumbotron">
                <h3 builder-form-label builder-label-key="builderActionReading"></h3>
                <p ng-if="builder.dttbModel.actions.reading.filters !== $root.dttbBuilderParameters.toggleOffPlaceholder">
                    <b>{{builder.dttbModel.actions.reading.filters.length || 0}}</b> Filters</p>
                <p ng-if="builder.dttbModel.actions.reading.filters === $root.dttbBuilderParameters.toggleOffPlaceholder">
                	No Filters
                </p>
                <p><a class="btn btn-primary btn-sm" role="button" ng-click="builder.goToPage('reading');">Modify</a></p>
            </div>
        </div>
        <div class="col-lg-6">
            <div class="jumbotron">
                <h3 builder-form-label builder-label-key="builderActionCreating"></h3>
                <p>
	                <span ng-if="builder.dttbModel.actions.creating !== $root.dttbBuilderParameters.toggleOffPlaceholder">Enabled</span>
	                <span ng-if="builder.dttbModel.actions.creating === $root.dttbBuilderParameters.toggleOffPlaceholder">Disabled</span>
	                <span>
	            	 	and <b>{{builder.dttbModel.actions.creating.fields.length || 0}}</b> Fields
	                </span>
                </p>
                <p><a class="btn btn-primary btn-sm" role="button" ng-click="builder.goToPage('creating');">Modify</a></p>
            </div>
        </div>
        <div class="col-lg-6">
            <div class="jumbotron">
                <h3 builder-form-label builder-label-key="builderActionUpdating"></h3>
                <p ng-if="builder.dttbModel.actions.updating !== $root.dttbBuilderParameters.toggleOffPlaceholder">Enabled</p>
                <p ng-if="builder.dttbModel.actions.updating === $root.dttbBuilderParameters.toggleOffPlaceholder">
                	Disabled
                </p>
                <p><a class="btn btn-primary btn-sm" role="button" ng-click="builder.goToPage('updating');">Modify</a></p>
            </div>
        </div>
        <div class="col-lg-6">
            <div class="jumbotron">
                <h3 builder-form-label builder-label-key="builderActionDeleting"></h3>
                <p ng-if="builder.dttbModel.actions.deleting !== $root.dttbBuilderParameters.toggleOffPlaceholder">Enabled</p>
                <p ng-if="builder.dttbModel.actions.deleting === $root.dttbBuilderParameters.toggleOffPlaceholder">
                	Disabled
                </p>
                <p><a class="btn btn-primary btn-sm" role="button" ng-click="builder.goToPage('deleting');">Modify</a></p>
            </div>
        </div>
    </div>
</div>
