<div class="well">
    <h4 class="text-center" builder-form-label builder-label-key="builderActionReadingRequest"></h4>
    <form class="form-horizontal">
        <fieldset>
            <div builder-http-config dttb-http-config="builder.dttbModel.actions.reading.requestConfig"></div>
            <div builder-form-conversion-response builder-conversion-model="builder.dttbModel.actions.reading.conversionResponseBody"></div>
            <div builder-form-conversion-request builder-conversion-model="builder.dttbModel.actions.reading.conversionRequestBody"></div>
        </fieldset>
    </form>
</div>
