<div class="well">
    <h4 class="control-label text-center" builder-form-label builder-label-key="builderActionCreating"></h4>
    <div class="row">
        <div class="col-lg-6">
            <div class="jumbotron">
                <h3 builder-form-label builder-label-key="builderActionCreatingRequest"></h3>
                <p><a class="btn btn-primary btn-sm" role="button" ng-click="builder.goToPage('creatingRequest');">Modify</a></p>
            </div>
        </div>
        <div class="col-lg-6">
            <div class="jumbotron">
                <h3 builder-form-label builder-label-key="builderActionCreatingFields"></h3>
                <p><a class="btn btn-primary btn-sm" role="button" ng-click="builder.goToPage('creatingFields');">Modify</a></p>
            </div>
        </div>
    </div>
</div>
