<div class="well">
    <h4 class="text-center">
        <builder-toggle-var builder-toggle-model="builder.dttbModel.actions.reading.filters" builder-toggle-key="readingFilters"></builder-toggle-var>
        <span builder-form-label builder-label-key="builderActionReadingFilters"></span>
    </h4>
    <form class="form-horizontal" ng-if="builder.dttbModel.actions.reading.filters !== $root.dttbBuilderParameters.toggleOffPlaceholder">
        <fieldset>
            <div ng-sortable="{animation:200}">
                <div class="panel panel-default" ng-repeat="filter in builder.dttbModel.actions.reading.filters track by $index">
                    <div class="panel-heading">
                        <span class="badge">#{{::$index+1}}</span>
                        <span>{{filter.label}} </span>
                        <span class="pull-right">
                                <div class="btn-group">
                                    <a 
                                        href=""
                                        title="Initialize from a column" 
                                        class="btn btn-block btn-success btn-xs dropdown-toggle" 
                                        data-toggle="dropdown">
                                        <i class="fa fa-magic"></i>
                                    </a>
                                    <ul class="dropdown-menu dropdown-menu-right">
                                        <li 
                                            ng-repeat="column in builder.dttbModel.columns track by $index">
                                            <a 
                                            href="" 
                                            ng-click="builder.initReadingFilterFromColumn(filter, $index);">
                                            {{column.label}}
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                                <a 
                                    href="" 
                                    class="btn btn-danger btn-xs" 
                                    title="Delete this reading filter" 
                                    ng-click="builder.removeFromArray(builder.dttbModel.actions.reading.filters, $index);">
                                    <i class="fa fa-trash"></i>
                                </a>
                                <a 
                                    href="" 
                                    title="Toggle show/hide this reading filter" 
                                    class="btn btn-info btn-xs" 
                                    ng-click="builder.dttbModel.actions.reading.filters[$index].dttbBuilderActive=!builder.dttbModel.actions.reading.filters[$index].dttbBuilderActive;">
                                    <i class="fa" ng-class="{'fa-angle-down': builder.dttbModel.actions.reading.filter[$index].dttbBuilderActive, 'fa-angle-up': !builder.dttbModel.actions.reading.filter[$index].dttbBuilderActive}"></i>
                                </a>
                            </span>
                    </div>
                    <div class="panel-body" ng-show="builder.dttbModel.actions.reading.filters[$index].dttbBuilderActive" ng-include="'/views/builder-3-reading-filter-form.html'">
                    </div>
                </div>
            </div>
            <div class="form-group">
                <div class="col-lg-12">
                    <button type="button" class="btn btn-default btn-block btn-xs" ng-click="builder.addToArray(builder.dttbModel.actions.reading.filters, $root.dttbBuilderParameters.tempReadingFilter);">Add filter</button>
                </div>
            </div>
        </fieldset>
    </form>
</div>
