<div class="form-group" ng-if="formType">
    <label class="col-lg-3 control-label" builder-form-label builder-label-key="formTypeConfig"></label>
    <div class="col-lg-9">
        <table class="table">
            <tbody>
                <tr>
                    <td>
                        <label class="control-label" builder-form-label builder-label-key="formTypeConfigRequiredStar"></label>
                    </td>
                    <td>
                        <div class="checkbox" builder-form-yes-no builder-form-model="formTypeConfig.displayRequiredStar"></div>
                    </td>
                </tr>
            </tbody>
        </table>
        <table class="table" ng-if="formType=='input'">
            <tbody>
                <tr>
                    <td>
                        <label class="control-label" builder-form-label builder-label-key="formTypeConfigPlaceholder"></label>
                    </td>
                    <td>
                        <input placeholder="E.g., Placeholder for input" type="text" class="form-control" ng-model="formTypeConfig.placeholder">
                    </td>
                </tr>
            </tbody>
        </table>
        <table class="table" ng-if="formType=='typeahead'">
            <tbody>
                <tr>
                    <td>
                        <builder-toggle-var builder-toggle-model="formTypeConfig.typeaheadAjaxRequestIndex" builder-toggle-key="formTypeConfigOptionsAjaxRequest"></builder-toggle-var>
                        <label class="control-label" builder-form-label builder-label-key="formTypeConfigOptionsAjaxRequest"></label>
                    </td>
                    <td>
                        <div class="row" ng-if="formTypeConfig.typeaheadAjaxRequestIndex!==$root.dttbBuilderParameters.toggleOffPlaceholder">
                            <div class="col-lg-6">
                                <select class="form-control input-sm" ng-model="formTypeConfig.typeaheadAjaxRequestIndex" builder-convert-to-number>
                                    <option disabled value="">---Please Select---</option>
                                    <option 
                                        ng-repeat="optionAjaxRequest in $root.dttbBuilderOptionAjaxRequests track by $index" 
                                        value="{{$index}}">
                                        Request index {{$index}}
                                    </option>
                                </select>
                            </div>
                            <div class="col-lg-6">
                                <builder-show-option-ajax-requests></builder-show-option-ajax-requests>
                            </div>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
        <table 
            class="table" 
            ng-if="formType=='selectMultiple' || formType=='selectSingle' || formType=='radio' || formType=='typeahead'">
            <tbody>
                <tr>
                    <td>
                        <builder-toggle-var builder-toggle-model="formTypeConfig.options" builder-toggle-key="formTypeConfigOptions"></builder-toggle-var>
                        <label class="control-label" builder-form-label builder-label-key="formTypeConfigOptions"></label>
                    </td>
                    <td>
                        <div ng-if="formTypeConfig.options!==$root.dttbBuilderParameters.toggleOffPlaceholder">
                           <input placeholder="E.g., options" type="text" class="form-control" ng-model="formTypeConfig.options"> 
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
        <table 
            class="table" 
            ng-if="formType=='selectMultiple' || formType=='selectSingle' || formType=='radio'">
            <tbody>
                <tr>
                    <td>
                        <label class="control-label" builder-form-label builder-label-key="formTypeConfigOptionModelKey"></label>
                    </td>
                    <td>
                        <input placeholder="E.g., optionId" type="text" class="form-control" ng-model="formTypeConfig.optionModelKey">
                    </td>
                </tr>
                <tr>
                    <td>
                        <label class="control-label" builder-form-label builder-label-key="formTypeConfigOptionDisplayKey"></label>
                    </td>
                    <td>
                        <input placeholder="E.g., optionLabel" type="text" class="form-control" ng-model="formTypeConfig.optionDisplayKey">
                    </td>
                </tr>
                <tr>
                    <td>
                        <builder-toggle-var builder-toggle-model="formTypeConfig.optionAjaxRequestIndex" builder-toggle-key="formTypeConfigOptionsAjaxRequest"></builder-toggle-var>
                        <label class="control-label" builder-form-label builder-label-key="formTypeConfigOptionsAjaxRequest"></label>
                    </td>
                    <td ng-if="formTypeConfig.optionAjaxRequestIndex!==$root.dttbBuilderParameters.toggleOffPlaceholder">
                        <div class="row">
                            <div class="col-lg-6">
                                <select class="form-control input-sm" ng-model="formTypeConfig.optionAjaxRequestIndex" builder-convert-to-number>
                                    <option disabled value="">---Please Select---</option>
                                    <option 
                                        ng-repeat="optionAjaxRequest in $root.dttbBuilderOptionAjaxRequests track by $index" 
                                        value="{{$index}}">
                                        Request index {{$index}}
                                    </option>
                                </select>
                            </div>
                            <div class="col-lg-6">
                                <builder-show-option-ajax-requests></builder-show-option-ajax-requests>
                            </div>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
        <table class="table" ng-if="formType=='boolean'">
            <tbody>
                <tr>
                    <td>
                        <label class="control-label" builder-form-label builder-label-key="formTypeConfigBooleanAs"></label>
                    </td>
                    <td>
                        <div class="input-group">
                            <span class="input-group-addon input-sm">
                            <input type="radio" value="default" ng-model="formTypeConfig.booleanAs">
                        </span>
                        </div>
                        <strong builder-form-label builder-label-key="booleanAs_default"></strong>
                    </td>
                    <td>
                        <div class="input-group">
                            <span class="input-group-addon input-sm">
                            <input type="radio" value="icon" ng-model="formTypeConfig.booleanAs">
                        </span>
                        </div>
                        <strong builder-form-label builder-label-key="booleanAs_icon"></strong>
                    </td>
                    <td>
                        <div class="input-group">
                            <span class="input-group-addon input-sm">
                            <input type="radio" value="text" ng-model="formTypeConfig.booleanAs">
                        </span>
                        </div>
                        <strong builder-form-label builder-label-key="booleanAs_text"></strong>
                    </td>
                </tr>
                <tr ng-if="formTypeConfig.booleanAs!='default'">
                    <td>
                        <label class="control-label" builder-form-label builder-label-key="booleanDisplayTrue"></label>
                    </td>
                    <td colspan="3">
                        <input placeholder="E.g., No; fa-close; etc." type="text" class="form-control" ng-model="formTypeConfig.booleanFalseVal">
                    </td>
                </tr>
                <tr ng-if="formTypeConfig.booleanAs!='default'">
                    <td>
                        <label class="control-label" builder-form-label builder-label-key="booleanDisplayFalse"></label>
                    </td>
                    <td colspan="3">
                        <input placeholder="E.g., Yes; fa-check; etc." type="text" class="form-control" ng-model="formTypeConfig.booleanTrueVal">
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>