<div class="well">
    <h4 class="control-label text-center" builder-form-label builder-label-key="builderOptionAjaxRequests"></h4>
    <form class="form-horizontal">
        <fieldset>
            <div class="panel panel-default" ng-repeat="optionAjaxRequest in builder.dttbModel.optionAjaxRequests track by $index">
                <div class="panel-heading">
                    <span class="badge">#{{::$index+1}}</span>
                    <span>{{optionAjaxRequest.label}} </span>
                    <span class="pull-right">
                            <a 
                                href="" 
                                class="btn btn-danger btn-xs" 
                                ng-click="builder.removeFromArray(builder.dttbModel.optionAjaxRequests, $index);"
                                ng-click="options.splice($index,1)">
                                <i class="fa fa-trash"></i>
                            </a>
                            <a 
                                href="" 
                                class="btn btn-info btn-xs" 
                                ng-click="builder.dttbModel.optionAjaxRequests[$index].dttbBuilderActive=!builder.dttbModel.optionAjaxRequests[$index].dttbBuilderActive;">
                                <i class="fa" ng-class="{'fa-angle-down': builder.dttbModel.optionAjaxRequests[$index].dttbBuilderActive, 'fa-angle-up': !builder.dttbModel.optionAjaxRequests[$index].dttbBuilderActive}"></i>
                            </a>
                        </span>
                </div>
                <div class="panel-body" ng-show="builder.dttbModel.optionAjaxRequests[$index].dttbBuilderActive" ng-include="'/views/builder-4-option-request-form.html'">
                </div>
            </div>
            <div class="form-group">
                <div class="col-lg-12">
                    <button type="button" class="btn btn-default btn-block btn-xs" ng-click="builder.addToArray(builder.dttbModel.optionAjaxRequests, $root.dttbBuilderParameters.tempOptionAjaxRequest);">Add New Option Ajax Request</button>
                </div>
            </div>
        </fieldset>
    </form>
</div>