<div class="well">
    <h4 class="text-center">
        <builder-toggle-var builder-toggle-model="builder.dttbModel.actions.updating" builder-toggle-key="updating"></builder-toggle-var>
        <span builder-form-label builder-label-key="builderActionUpdating"></span>
    </h4>
    <div ng-if="builder.dttbModel.actions.updating !== $root.dttbBuilderParameters.toggleOffPlaceholder">
        <div class="panel panel-default">
            <div class="panel-heading"  builder-form-label builder-label-key="builderActionUpdatingCell"></div>
            <div class="panel-body">
                <form class="form-horizontal">
                    <fieldset>
                        <div class="form-group">
                            <label class="col-lg-3 control-label" builder-form-label builder-label-key="enableRouteParams"></label>
                            <div class="col-lg-9">
                                <div class="checkbox" builder-form-yes-no builder-form-model="builder.dttbModel.actions.updating.onCell.enableRouteParams"></div>
                            </div>
                        </div>
                        <div builder-http-config dttb-http-config="builder.dttbModel.actions.updating.onCell.requestConfig"></div>
                        <div builder-form-conversion-response builder-conversion-model="builder.dttbModel.actions.updating.onCell.conversionResponseBody"></div>
                        <div builder-form-conversion-request builder-conversion-model="builder.dttbModel.actions.updating.onCell.conversionRequestBody"></div>
                    </fieldset>
                </form>
            </div>
        </div>
        <div class="panel panel-default">
            <div class="panel-heading"  builder-form-label builder-label-key="builderActionUpdatingRow"></div>
            <div class="panel-body">
                <form class="form-horizontal">
                    <fieldset>
                        <div class="form-group">
                            <label class="col-lg-3 control-label" builder-form-label builder-label-key="enableRouteParams"></label>
                            <div class="col-lg-9">
                                <div class="checkbox" builder-form-yes-no builder-form-model="builder.dttbModel.actions.updating.onRow.enableRouteParams"></div>
                            </div>
                        </div>
                        <div builder-http-config dttb-http-config="builder.dttbModel.actions.updating.onRow.requestConfig"></div>
                        <div builder-form-conversion-response builder-conversion-model="builder.dttbModel.actions.updating.onRow.conversionResponseBody"></div>
                        <div builder-form-conversion-request builder-conversion-model="builder.dttbModel.actions.updating.onRow.conversionRequestBody"></div>
                    </fieldset>
                </form>
            </div>
        </div>
    </div>
</div>
