<table class="table">
    <tbody>
        <tr ng-repeat="(validationKey, validationData) in validations">
            <td builder-form-label builder-label-key="validation_{{validationKey}}"></td>
            <td ng-switch="validationKey">
                <div class="checkbox" 
                    ng-switch-when="required"
                    builder-form-yes-no 
                    builder-form-model="validationData.rule"></div>
                <input
                    placeholder="Validation Rule E.g., 5; 15; some text; etc."
                    ng-switch-default 
                    type="{{$root.dttbBuilderParameters.validations[validationKey].type}}" 
                    class="form-control"
                    ng-model="validationData.rule">
            </td>
            <td>
                <input 
                    placeholder="E.g., Your userName must be longer than 5 characters. etc."
                    type="text" 
                    class="form-control" 
                    ng-model="validationData.message">
            </td>
            <td width="5%">
                <a 
                    href="" 
                    class="btn btn-danger btn-xs" 
                    ng-click="removeFromObject(validations, validationKey);">
                    <i class="fa fa-trash"></i>
                </a>
            </td>
        </tr>
        <tr>
            <td colspan="4">
                <div class="btn-group btn-block">
                    <a href="" class="btn btn-block btn-default btn-xs dropdown-toggle" data-toggle="dropdown">
                        Add <span class="caret"></span>
                    </a>
                    <ul class="dropdown-menu">
                        <li 
                            ng-repeat="validation in $root.dttbBuilderParameters.dttbValidations.default">
                            <a href="" 
                            ng-click="addToObject(validations, validation.value, validation.default);">
                            {{validation.label}}
                            </a>
                        </li>
                        <li 
                            ng-repeat="validation in $root.dttbBuilderParameters.dttbValidations.number"
                            ng-if="dataType === 'number'">
                            <a href="" 
                            ng-click="addToObject(validations, validation.value, validation.default);">
                            {{validation.label}}
                            </a>
                        </li>
                        <li 
                            ng-repeat="validation in $root.dttbBuilderParameters.dttbValidations.text"
                            ng-if="dataType === 'text'">
                            <a href="" 
                            ng-click="addToObject(validations, validation.value, validation.default);">
                            {{validation.label}}
                            </a>
                        </li>
                        <li 
                            ng-repeat="validation in $root.dttbBuilderParameters.dttbValidations.date"
                            ng-if="dataType === 'date'">
                            <a href="" 
                            ng-click="addToObject(validations, validation.value, validation.default);">
                            {{validation.label}}
                            </a>
                        </li>
                    </ul>
                </div>
            </td>
        </tr>
    </tbody>
</table>
