<div class="well">
    <h4 class="control-label text-center" builder-form-label builder-label-key="builderPreview"></h4>
    <div ui-ace="$root.dttbBuilderAceOption" ng-model="builder.generatedCodes"></div>
</div>
