<div class="modal-header">
    <h3 class="modal-title">Create New Option Ajax Request</h3>
</div>
<div class="modal-body">
    <form class="form-horizontal">
        <fieldset>
            <div ng-include="'/views/builder-4-option-request-form.html'"></div>
        </fieldset>
    </form>
</div>
<div class="modal-footer">
	<button class="btn btn-success btn-sm" type="button" ng-click="create(ngDialogId);">
        <i class="fa fa-ok"></i> Create
    </button>
    <button class="btn btn-default btn-sm" type="button" ng-click="closeThisDialog();">
        <i class="fa fa-close"></i> Close
    </button>
</div>
