<div class="modal-header">
    <h3 class="modal-title">
    	Confirmation
    </h3>
</div>
<div class="modal-body"> 
	{{confirmMessage || 'Are you sure?'}}
</div>
<div class="modal-footer">
    <button ng-if="hasDefinedConfirmDialog" class="btn btn-danger btn-sm" type="button" ng-click="confirmDialog(ngDialogId)">
    	<i class="fa fa-ok"></i> Confirm
    </button>
    <button ng-if="!hasDefinedConfirmDialog" class="btn btn-danger btn-sm" type="button" ng-click="confirm(ngDialogId)">
        <i class="fa fa-ok"></i> Confirm
    </button>
    <button class="btn btn-cancel btn-sm" type="button" ng-click="closeThisDialog()">
    	<i class="fa fa-close"></i> Close
    </button>
</div>