<div class="modal-header">
    <h3 class="modal-title" builder-form-label builder-label-key="builderSave"></h3>
</div>
<div class="modal-body">
    <div class="form-group">
        <label>Configuration label</label>
        <input type="text" class="form-control input-sm" placeholder="Table label or other string" ng-model="configId">
        <small ng-if="alreadySaved" class="text-danger"><b>*</b> This configuration will override an already saved configuration.</small>
    </div>
</div>
<div class="modal-footer">
    <button class="btn btn-danger btn-sm" type="button" ng-click="confirmDialog(configId);">
        <i class="fa fa-check"></i> Confirm
    </button>
    <button class="btn btn-default btn-sm" type="button" ng-click="closeThisDialog();">
        <i class="fa fa-close"></i> Close
    </button>
</div>
