<div class="modal-header">
    <h3 class="modal-title" builder-form-label builder-label-key="builderOpenRecent"></h3>
</div>
<div class="modal-body">
    <h4 ng-if="!recentConfigurations.length">There are not any recent saved configuration in local storage.</h4>
    <table class="table" ng-if="recentConfigurations.length">
        <thead>
            <tr>
                <th>#</th>
                <th title="Table's title">Title</th>
                <th title="Last updated time"><i class="fa fa-calendar"></i></th>
                <th title="Number of columns"><i class="fa fa-columns"></i></th>
                <th title="Number of READING filters"><i class="fa fa-filter"></i></th>
                <th title="Creating action"><i class="fa fa-plus"></i></th>
                <th title="Updating Action"><i class="fa fa-pencil"></i></th>
                <th title="Deleting Action"><i class="fa fa-trash"></i></th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="configuration in recentConfigurations track by $index">
                <td>{{$index + 1}}</td>
                <td>{{configuration.id}}</td>
                <td>{{configuration.timeAgo}} ago</td>
                <td title="Columns"><span class="badge">{{configuration.model.columns.length || 0}}</span></td>
                <td title="Filters">
                	<span class="badge">
                		<span ng-if="configuration.model.actions.reading.filters == $root.dttbBuilderToggleOffPlaceholder">0</span>
                		<span ng-if="configuration.model.actions.reading.filters != $root.dttbBuilderToggleOffPlaceholder">
                			{{configuration.model.actions.reading.filters.length}}
                		</span>
                	</span>
                </td>
                <td>
                	<i ng-if="configuration.model.actions.creating != $root.dttbBuilderToggleOffPlaceholder" class="fa fa-check text-success" title="ENABLE"></i>
                	<i ng-if="configuration.model.actions.creating == $root.dttbBuilderToggleOffPlaceholder" class="fa fa-close text-danger" title="DISABLE"></i>
                </td>
                <td>
                	<i ng-if="configuration.model.actions.updating != $root.dttbBuilderToggleOffPlaceholder" class="fa fa-check text-success" title="ENABLE"></i>
                	<i ng-if="configuration.model.actions.updating == $root.dttbBuilderToggleOffPlaceholder" class="fa fa-close text-danger" title="DISABLE"></i>
                </td>
                <td>
                	<i ng-if="configuration.model.actions.deleting != $root.dttbBuilderToggleOffPlaceholder" class="fa fa-check text-success" title="ENABLE"></i>
                	<i ng-if="configuration.model.actions.deleting == $root.dttbBuilderToggleOffPlaceholder" class="fa fa-close text-danger" title="DISABLE"></i>
                </td>
                <td title="Click to open this configuration for modifying">
                	<button class="btn btn-xs btn-success" ng-click="applyConfig(configuration.model, configuration.time);">
                		<i class="fa fa-folder-open"></i>
                	</button>
                </td>
                <td title="Delete this configuration from local storage">
                    <button class="btn btn-xs btn-danger" ng-click="deleteConfig($index);">
                        <i class="fa fa-trash"></i>
                    </button>
                </td>
            </tr>
        </tbody>
    </table>
</div>
<div class="modal-footer">
	<button class="btn btn-danger btn-sm" type="button" ng-click="clearAll();" ng-if="recentConfigurations.length">
        <i class="fa fa-trash"></i> Clear All
    </button>
    <button class="btn btn-default btn-sm" type="button" ng-click="closeThisDialog();">
        <i class="fa fa-close"></i> Close
    </button>
</div>
