<div class="modal-header">
    <h3 class="modal-title">Available Option Ajax Requests</h3>
</div>
<div class="modal-body">
    <h4 ng-if="!$root.dttbBuilderOptionAjaxRequests.length">
        There are not any available option ajax request. You can create one now.
    </h4>
    <table class="table" ng-if="$root.dttbBuilderOptionAjaxRequests.length">
        <thead>
            <tr>
                <th>#</th>
                <th title="Base">Base Url</th>
                <th title="Typeahead Form">Typeahead Form</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="optionAjaxRequest in $root.dttbBuilderOptionAjaxRequests track by $index">
                <td>{{$index}}</td>
                <td>
                    <abbr title="{{optionAjaxRequest.requestConfig.url}}">
                        {{ shortenUrl(optionAjaxRequest.requestConfig.url) }}
                    </abbr>
                </td>
                <td>
                	<i ng-if="optionAjaxRequest.typeaheadKey!==$root.dttbBuilderParameters.toggleOffPlaceholder" class="fa fa-check text-success" title="ENABLE"></i>
                	<i ng-if="optionAjaxRequest.typeaheadKey===$root.dttbBuilderParameters.toggleOffPlaceholder" class="fa fa-close text-danger" title="DISABLE"></i>
                </td>
                <td title="Click to open this optionAjaxRequest for modifying">
                	<button class="btn btn-xs btn-success" ng-click="viewRequest($index);">
                		<i class="fa fa-info-circle"></i>
                	</button>
                </td>
            </tr>
        </tbody>
    </table>
</div>
<div class="modal-footer">
	<button class="btn btn-success btn-sm" type="button" ng-click="createRequest(ngDialogId);">
        <i class="fa fa-pencil"></i> Create
    </button>
    <button class="btn btn-default btn-sm" type="button" ng-click="closeThisDialog();">
        <i class="fa fa-close"></i> Close
    </button>
</div>
