<div class="modal-header">
	<h3 class="modal-title" builder-form-label builder-label-key="builderUpload"></h3>
</div>
<div class="modal-body">
	<div ui-ace="$root.dttbBuilderAceOption" ng-model="dttbModel"></div>
</div>
<div class="modal-footer">
    <button class="btn btn-danger btn-sm" type="button" ng-click="confirmDialog(dttbModel);">
    	<i class="fa fa-upload"></i> Upload
    </button>
    <button class="btn btn-default btn-sm" type="button" ng-click="closeThisDialog();">
    	<i class="fa fa-close"></i> Close
    </button>
</div>